[2017-02-16 15:59] ivan4th opened #1 "Fix /boot and /lib/module handling"
As of now, `/boot` and `/lib/modules` are not copied from the host and we don't mount them with `-v` either because this is not compatible with Moby Linux-based Dockers (e.g. Mac OS X). The proper solution to this is copying these directories from the host Linux by means of e.g. busybox image + nsenter. This is needed for Virtlet to work on kubeadm-dind-cluster.

[2017-02-16 16:02] ivan4th opened #2 "Support prebuilt k8s DIND images"
This will make it easier to use kubeadm-dind-cluster for Virtlet devenv & CI.
Provide prebuilt image for k8s stable (1.5.x).
Try to make an image for k8s 1.4 if this is not too difficult.

[2017-03-10 15:25] ivan4th opened #3 "Support multiple CNI implementations"
Let's start with Flannel and Calico

[2017-03-14 14:44] ivan4th commented on #1
For /modules: fixed
For /boot: no need for this now (e.g. Virtlet works without it)

[2017-03-14 14:44] #1 closed

[2017-03-14 20:20] idvoretskyi commented on #1
@ivan4th can you refer the PR that fixes it?

[2017-03-14 21:24] ivan4th commented on #1
The final fix is in 99f610e70abf05dd718639bbd1843b28a7ceec39 Unfortunately there's no PRs at the moment as no one except me is maintaining this project for now.

[2017-03-17 05:43] aramisjohnson opened #4 "The connection to the server localhost:8080 was refused - did you specify the right host or port?"
So this worked like a charm, i booted an ubuntu container with DinD enabled on it, then i ran ./dind-cluster-v1.5.sh up. The cluster/node came up in a matter of minutes. I can docker exec into the newly created container/node and start issuing kubectl commands like normal.

The only problem is, if i dont docker exec into the container/node, kubectl commands return the following error;

The connect

[2017-03-20 20:56] ivan4th commented on #4
Sorry for delayed reply. Can you give some more details on your setup? Are you running the script from within a container?

[2017-03-20 20:57] ivan4th commented on #2
Fixed in 4c6e371fa1c89bb0f92d92525df0cf22abe50f45

[2017-03-20 20:57] #2 closed

[2017-03-23 17:13] aramisjohnson commented on #4
this was my bad, it is working as expected, i am just new to containers, kubernetes, etc... thx

[2017-03-23 17:13] #4 closed

[2017-03-23 18:12] ivan4th commented on #4
@aramisjohnson no problem! Please let me know if you have any other unexpected problems with `kubeadm-dind-cluster`.

[2017-03-28 07:18] warmchang opened #6 "devicemapper support."
Hi,

This is an awsome project, and I try it on "CentOS Linux release 7.3.1611 (Core)" with docker 1.12.6, but got the following error info.

It look like unsupport the devicemapper, which is the default graphdriver of CentOS, am I right?

[2017-03-28 07:38] jellonek commented on #6
Exactly that it's the case.
Instead of using device mapper please try overlay2 graph driver (needs change in `/etc/sysconfig/docker-storage` - this is the path on fedora, probably the same is on CentOS).

[2017-03-28 12:11] warmchang commented on #6
Hi @jellonek , thanks for your advice. I use the overlay2 graphdriver. Unfortunate got the same issue:

And the docker info & docker ps as followed.
Actually I run the CentOS vm (vmware) on the windows host OS, does this caused the issue?

[2017-03-30 07:55] warmchang commented on #6
Switch to fedora, deploy again, then everything is ok:

Thanks @jellonek for help.

[2017-03-30 07:55] #6 closed

[2017-04-02 14:38] armandocerna opened #7 "hostPort not working"
Hello,

I seem to be having an issue getitng hostport working I am trying to get the off the shelf nginx ingress controller working.   I am including the yaml for reference.  Since this is powered by kubeam I assumed I would have to do the `hostNetwork: true` trick to get `hostPort` to function correctly

[code]

[2017-04-13 20:48] aramisjohnson opened #8 "Issue creating 1.6 K8s dind cluster"
So I have successfully used the dind-cluster-v1.5.sh script to install a 1.5 version of kubernetes in my docker container.

However when I use the dind-cluster-v1.6.sh script to install version 1.6 it hangs at the following;
 " * Waiting for kube-proxy and the nodes  "

At this point Kubectl commands are not executing from the k8s host or the master node. Is this a known issue?

[2017-04-14 07:57] ivan4th commented on #8
Did you run `./dind-cluster-v1.6.sh clean` before `./dind-cluster-v1.6.sh up`?

[2017-04-14 09:54] aramisjohnson commented on #8
On a brand new install, with never having ran ./dind-cluster-v1.5.sh up, I should do a ./dind-cluster-v1.6.sh clean before doing ./dind-cluster-v1.6.sh up???

[2017-04-14 09:55] aramisjohnson commented on #8
by the way thanks for reply, trying to demo something tomorrow and would be great to have 1.6 k8s in the equation :0

[2017-04-14 11:55] ivan4th commented on #8
@aramisjohnson no, `clean` is not needed in fresh env. Does the script hang in clean env too? If so, please open another terminal and enter `kube-master` container:
[code]

Then try to list pods
[code]

and nodes
[code]

If the above fails, pls list the containers in kube-master's inner docker (i.e. still inside the container):
[code]

If you see that apiserver container has exited, then please do

[2017-04-14 12:06] aramisjohnson commented on #8
here are the results

parallels@ubuntu:~$ docker exec -it kube-master /bin/bash
root@kube-master:/# kubectl get pods --all-namespaces
Unable to connect to the server: read tcp [::1]:46704->[::1]:8080: read: connection reset by peer
root@kube-master:/# kubectl get nodes
The connection to the server localhost:8080 was refused - did you specify the right host or port?

and here are the logs from the

[2017-04-17 07:36] aramisjohnson commented on #8
Any other ideas with this? Just an fyi I am running this script in a docker container... I have started the container with --net=host and with out...

[2017-04-17 08:19] ivan4th commented on #8
Sorry for delayed reply. Actually I didn't try to run the script itself in a container. I have several questions then concerning `dind-cluster-v1.6.sh`:
1. Does it work for you if you run it outside the  container?
1. What image are you using?
1. Do you mount docker socket into the container or do you run another docker instance in it?
1. What's your host OS (that runs Docker daemon)?
1. Please pa

[2017-04-17 17:13] aramisjohnson commented on #8
1. I just ran it (1.6 script) on ubuntu 16.04 vm and it is hanging on "*Waiting for kube-proxy and the nodes"

So i think the other ones dont even matter if the script doesnt work on a vm. Any ideas?

[2017-04-17 17:20] aramisjohnson commented on #8
by the way 1.5 script worked fine on that same ubuntu vm...

[2017-04-17 17:36] ivan4th commented on #8
Would you please paste `docker info` from the VM?

[2017-04-17 17:37] aramisjohnson commented on #8
Here ya go

Containers: 3
 Running: 3
 Paused: 0
 Stopped: 0
Images: 31
Server Version: 17.03.0-ce
Storage Driver: aufs
 Root Dir: /var/lib/docker/aufs
 Backing Filesystem: extfs
 Dirs: 57
 Dirperm1 Supported: true
Logging Driver: json-file
Cgroup Driver: cgroupfs
Plugins:
 Volume: local
 Network: bridge host macvlan null overlay
Swarm: inactive
Runtimes: runc
Default Runtime: runc
Init Binary: do

[2017-04-17 17:53] ivan4th commented on #8
I suspect the problem may be caused by `aufs` filesystem here. I'll try to test `kubeadm-dind-cluster` with it to see how to deal with the problem. Meanwhile could you please switch the docker daemon to `overlay2` storage driver and try the script again? You need to pass `--storage-driver overlay2` to docker daemon (see [here](https://docs.docker.com/engine/admin/) for example how to pass the opti

[2017-04-17 18:03] aramisjohnson commented on #8
ok ill give it a shot and post back to you, in a little bit....

[2017-04-17 20:41] aramisjohnson commented on #8
with overlay2 configured for the running docker service, I docker info | grep "Storage Driver" to verify, it is still hanging on the message "Waiting for kube-proxy and the nodes". Can you successfully run the 1.6 script, just curious.

[2017-04-17 22:26] ivan4th commented on #8
Just tried it with Ubuntu 16.04 (`vagrant init ubuntu/xenial64; vagrant up --provider virtualbox`), it works just fine with docker 1.12.6 (standard docker.io package). With docker 17.03 there's connectivity problems on the nodes, etcd fails to start because inner docker can't pull any images. That's not a problem for 1.5 because for 1.5 all the images that kubeadm pulls are already included in din

[2017-04-17 22:41] aramisjohnson commented on #8
Darn... here I am trying to be all "bleeding edge" and it bites me... let me down grade my version and give it a shot ill let you know how it goes...

[2017-04-17 23:42] aramisjohnson commented on #8
i down graded to 1.12.6 and ran it on ubuntu vm and it succeeded im going to try in a docker container next...

[2017-04-18 02:11] aramisjohnson commented on #8
yup, that was definitely the issue, docker-ce 17, no bueno... I was able to install k8s 1.5 and 1.6 inside of a docker container. Thanks for your help in resolving this issue.

[2017-04-19 12:15] archyufa opened #9 "Docs cleanup after adding Weave support"
Below line is not required any more as Weave CNI is now supported in kubeadm-dind-cluster:
https://github.com/Mirantis/kubeadm-dind-cluster/blob/master/config.sh#L31

[2017-04-20 05:28] aramisjohnson opened #10 "Is there anyway to enable --net=host on all docker containers in the v1.6 script"
I'm back... I have a question, is there a way to enable the docker arg --net=host on first each node, and then all of there children docker containers. This is specifically for the v1.6 script and I am going to need it for the rbd commands that apparently need a clear path networking path to the host. You have any pointers for me to enable this?

Im hoping I can continue leveraging this script, im

[2017-04-24 08:23] ivan4th commented on #10
Unfortunately I'm afraid it's not possible to set `--net=host` for docker containers that represent nodes. The problem is that every node must have it's own IP address, it's impossible to run several kubelets on single IP. Or did I misunderstand the question?.. Could you please describe what's the problem with rbd commands exactly?

[2017-04-24 08:24] #9 closed

[2017-04-24 08:24] ivan4th commented on #9
Fixed, thanks.

[2017-04-24 08:25] ivan4th commented on #3
Done (the implementation is spread across many commits...)

[2017-04-24 08:25] #3 closed

[2017-04-25 00:00] aramisjohnson commented on #10
hmm... the problem is I am create a rook pod/cluster inside of v1.6 cluster but when I attempt to launch a pod that mounts a created block or filesystem volume it times out waiting for mount operation to complete. When I use just straight kubeadm, this starting a pod that consumes a block volume succeeds (not Dind). The only thing different I see between what your scripts do and kubeadm init does,

[2017-04-25 18:20] ivan4th commented on #10
I didn't try Rook on DIND yet, it may be very well some deep Ceph-related issue. I'll definitely try it, although can't guarantee that I'll be able to do it quickly unfortunately. As of weave, it should work with 1.6, please try to do `./dind-cluster.sh clean` before changing `CNI_PLUGIN`

[2017-04-25 18:20] ivan4th commented on #10
But frankly I doubt Weave will help wigh rook, to fix this it's necessary to look inside rook's pod

[2017-04-25 20:14] castrojo opened #11 "Consider adding a developer workflow example"
Hello! I think people would see the obvious benefit of your approach if you documented what a workflow for using kubeadm-dind-cluster would look like for a kubernetes core developer. As an example:

1. Someone asks "hey check out my PR!"
2. you `git pull foo`
3. Fire up the cluster with this branch.
4. You find a bug, fix it.
5. Restart the cluster to test.

It appears to me that steps 3-5 are ver

[2017-04-25 21:07] ivan4th commented on #11
Thanks @castrojo, will update the docs.

[2017-04-26 01:26] kokhang commented on #10
Hi Ivan, I work with @aramisjohnson. I got a question. Is there a way to use the docker.sock from the host in all the k8s nodes? That way, we can run whatever we need in a container with `--net=host` and not have the k8s nodes run with `--net=host`? Great project by the way!

[2017-04-26 03:50] ivan4th commented on #10
Thanks @kokhang . You may try editing the script (`dind-cluster-v1.6.sh`, the place is [here](https://github.com/Mirantis/kubeadm-dind-cluster/blob/695f1a2aa1298c5f2eb02e28aa30ca0bc9e76f98/fixed/dind-cluster-v1.6.sh#L386)) and adding `-v /var/run/docker.sock:/var/run/outer-docker.sock`. Then you can use `export DOCKER_HOST=unix:///var/run/outer-docker.sock` inside DIND containers to connect to the

[2017-04-26 03:51] ivan4th commented on #10
Please try it and let me know whether it works, although I'm not quite sure how to add this functionality to the script myself because it's a bit exotic use of DIND.

[2017-04-26 20:29] kokhang commented on #10
Thanks @ivan4th. This worked for me. I couldnt map the socke to /var/run/outer-docker.sock in the container node but i was able to map it to /opt/outer-docker.sock. I think this should unblock @aramisjohnson and not have to do net=host for rook.

[2017-04-27 22:00] ivan4th commented on #10
Glad it helped. I actually thought about adding a mechanism to access host docker socket from within containers, it can be useful for e.g. implementing flexvolume driver based on docker volumes (such volumes can be accessible from all nodes in DIND, with possibility to add minikube-like automatic provisioning later). Today I stumbled upon a problem in k8s flexvolume code though, it fails to unmoun

[2017-05-03 20:46] aramisjohnson opened #13 "Unable to access EXTERNAL_IP of K8s service from k8s node"
Hello,

Yes its that time again. So I ran into an issue where I use your v1.5 script to set up a 2 node k8s cluster. I then create a service which uses an external ip like

NAME           CLUSTER-IP       EXTERNAL-IP    PORT(S)          AGE
web            10.106.52.236    172.17.4.201   80:32023/TCP     1h

i can hit the service from the master k8s node like so;
curl 10.106.52.236:80 --> success 2

[2017-06-08 19:32] luafran opened #15 "dind-cluster.sh script sometimes fails to detect moby Linux"
The reason is a race condition in the docker info and grep -q pipe-line used as detection mechanism.

This is the detection mechanism used to detect moby Linux:

if docker info|grep -q '^Kernel Version: .*-moby$'; then
    is_moby_linux=1
fi

Since _grep -q_ exits immediately with a zero status as soon as a match is found, sometimes it exists while _docker info_ is still writing to the pipe, but t

[2017-06-16 08:57] zoobab commented on #8
@aramisjohnson I am also trying to run the 1.6 script inside a docker container, can you tell us which version of docker on the host you were running, and which distro inside the container you are running?

[2017-06-16 16:56] aramisjohnson commented on #8
Here is my Dockerfile i run the 1.6 script inside --> https://github.com/rook/rook/blob/master/e2e/images/Dockerfile

Here is my docker host info
[code]

[2017-06-21 22:20] danehans commented on #8
The 1.6 script worked fine for me on my Docker for Mac (10.12.5) setup. I had to `brew install md5sha1sum` and upgrade my kubelet to 1.6.3.

[code]

[code]

[2017-06-21 22:22] danehans commented on #8
@aramisjohnson fyi... a good idea in the future to put lengthy log messages into a gist and link them in your GH comment.

[2017-06-21 22:33] danehans opened #17 "Config Not Being Respected"
I am using the v1.6 script to deploy a cluster. It works, but does not respect config changes that I apply to config.sh. For example, I tried updating the DIND_SUBNET and deploy. The cluster was deployed with the default 10.192.0.0 network. I then ran down/clean, updated the NUM_NODES to 1 and ran up but 2 nodes were deployed.

[code]

However, changes are respected when the settings are updated d

[2017-06-21 23:11] pigmej commented on #17
It’s bash, you need to source a config file ;) these are ’just’ env variables.

To source a file you can use
[code]
Or in short:
[code]

You need to do it when you change file contents ;)

[2017-06-22 08:28] zoobab opened #18 "Fixes to run on OSX"
Hi,

I made a kubernetes workshop, and some people made a fix to run kubeadm-dind on OSX:

https://www.meetup.com/Docker-Belgium/events/240356311/comments/480799431/?read=1&_af=event&_af_eid=240356311&itemTypeToken=COMMENT&https=on

"one1zero1one
Done also in OSX 10.11.6, had to do the following: brew install md5shasum, created a /boot folder in OSX and added it to docker preferences file sharing,

[2017-06-22 17:03] danehans commented on #17
@pigmej understood. The scripts in /fixed use the EMBEDDED-CONFIG=y directive to bypass sourcing the config file.

Might be a good idea mentioning this in https://github.com/Mirantis/kubeadm-dind-cluster#configuration

[2017-06-22 17:03] #17 closed

[2017-06-23 11:16] djschny opened #19 "allow version to be specified on command line and use non-custom kubernetes builds"
I noticed when going to use this, two things that concerned me:

* the kubernetes versions being used appear to be non-official versions
* when executing the scripts, then appear to hard code specific bugfix versions of kubernetes

I would expect the default behavior of the v1.6 script for example to use the latest bugfix version of v1.6. And optionally when starting up could override to use a dif

[2017-06-23 21:59] djschny opened #21 "enable offline running"
Assuming you've already ran a `./dind-cluster-v1.6.sh up` successfully once, it would be nice to allow the cluster to still start up offline with no internet connection (airplane, park, etc.).

Turn off wifi on your laptop and run `./dind-cluster-v1.6.sh up`

[code]

[2017-06-23 22:25] djschny commented on #8
I am seeing similar behavior on my mac as well. It was working fine and then after a network hiccup, I had to kill things and even after doing a clean, I get it hanging at `[apiclient] Created API client, waiting for the control plane to become ready` as well.

Upon further inspection I login to the container running the control plane and then watch the logs and images and it appears the api-serve

[2017-06-26 01:29] daggerok commented on #13
it would be nice to have such possibility to access exposed services

[2017-06-28 19:27] ivan4th commented on #18
Thanks for info, will try to make this easier. I have lots of GNU tools installed via brew on my Mac and didn't find out some easy way to have some "clean" mac env to test the scripts. (As for Linux, everything is tested on Travis, but Mac OS X is non-free there)

[2017-06-28 19:27] ivan4th commented on #21
Thanks, will try and fix this

[2017-06-28 19:28] ivan4th commented on #15
Fixed by #16

[2017-06-28 19:28] #15 closed

[2017-06-28 19:30] ivan4th commented on #19
The scripts use officially released binaries, see here: https://github.com/Mirantis/kubeadm-dind-cluster/blob/master/build/buildconf.sh
I try to update the config as new stable versions come out but frankly don't do it always in very timely manner -- will try to improve this.
As of specifying the version on command line instead of using the 'fixed' script, I have plans for this, but probably not r

[2017-07-03 16:49] danehans opened #23 "Error starting daemon: error initializing graphdriver: driver not supported"
I am unable to deploy a kubeadm-dind-cluster on Ubuntu 16.04.2 or CentOS 7. I get the following error:

[code]

Here are details of my CentOS 7 setup:
[code]

I have tried the overlay and overlay2 drivers, but I hit the same error.

Here are the details of my Ubuntu setup:
[code]
@pmichali is experiencing the same problem.

We are trying to use kubeadm-dind-cluster for k8s IPv6 e2e testing. More d

[2017-07-05 11:57] djschny commented on #18
Closed with https://github.com/Mirantis/kubeadm-dind-cluster/pull/20 ?

[2017-07-06 13:08] djschny opened #25 "support Kubernetes v1.7"
I have not looked yet the extent to which a new script and changes would be needed to support v1.7 but putting a placeholder here so that it can be tracked if that's OK.

[2017-07-06 13:14] ivan4th commented on #25
It's almost done, stay tuned.

[2017-07-06 14:21] #25 closed

[2017-07-06 15:08] pmichali commented on #23
I'm seeing this same thing on centOS 7.3.1611 as well. Using Docker 17.06.0-ce (and have tried 1.12.6 too), kernel 3.10, and have storage driver set to devicemapper. The kubeadm init step fails, with log saying graphdriver not supported.

I have tried removing /var/lib/docker and made sure that when things start up, there is only a devicemapper directory (only one driver area).

I have tried addin

[2017-07-06 15:11] ivan4th commented on #23
@danehans @pmichali Can you point me to some public vagrant image that exhibits this behavior? https://app.vagrantup.com/centos/boxes/7 is affected perhaps, right?

[2017-07-06 15:15] pmichali commented on #23
In the journalctl log, I see:

[code]

[2017-07-06 15:17] pmichali commented on #23
@ivan4th Yeah, I have a Vagrant setup that uses this box: centos/7

[2017-07-06 15:23] pmichali commented on #23
I have a Ubuntu 16.04 system in lab (behind firewall), and I tried a bunch of attempts there. It is using aufs for storage. I installed the extras package, and I **think**, I got past the init problem, but then hit a timeout error, trying to access a URL:
[code]

I'm wondering if the firewall is blocking this access, and not sure how to override (I guess it is running in a container? Normally, wou

[2017-07-06 16:27] ivan4th commented on #23
The above URL unreachability is kubeadm problem, it apparently insists on trying to access release info even if it's installing k8s using prebuilt hyperkube image. It's possible to pass proxy settings but you'll need to add args like `-e HTTP_PROXY="${HTTP_PROXY:-}" -e HTTPS_PROXY="${HTTPS_PROXY:-}" \` around this place in the script https://github.com/Mirantis/kubeadm-dind-cluster/blob/d85c415ed9

[2017-07-06 17:08] pmichali commented on #23
@ivan4th Thanks!

I just tried Ubuntu 16.04 server, with docker version 17.06.0-ce, and using aufs storage driver, in a Vagrant based VM that I had.  Everything came up OK. I can't seem to get access to the dashboard (did port forwarding of TCP 8080), but could not access from host).

So, it looks like Ubuntu works (barring proxy issues - I'll try your suggestion). CentOS, OTOH, seems to be having

[2017-07-06 19:05] danehans commented on #23
@pmichali I think I'm at the same place as you know. The dind deploy is almost 100% working. The dashboard deployment hangs:
[code]

[2017-07-06 19:43] pmichali commented on #23
@danehans On mine, I think the dashboard is up (as I can curl to it from the VM. I just can't seem to access via browser on host (not sure if the fact that I'm on VPN is interfering).

[2017-07-06 19:44] pmichali commented on #23
@ivan4th The proxy settings are seen inside the container, but I cannot ping the proxy server from inside the container. I tried using IP address, instead of name, but no go. There is a default route, but I cannot ping the proxy from inside the container. Any ideas?

[2017-07-06 20:20] danehans commented on #23
@pmichali can you post the output of `kubectl get po,svc,deploy --namespace=kube-system`

[2017-07-06 20:44] danehans commented on #23
Looks like i'm having issues pulling the dashboard image from my lab for some reason. I don't see the image pull issue on my DockerforMac setup.

[2017-07-07 14:40] pmichali commented on #23
@danehans On the Ubuntu in VM or BM?

[2017-07-07 14:45] pmichali commented on #23
So looks like I have this status currently:

Ubuntu 16.04 VM - Works, but I cannot access the dashboard from host.

Ubuntu 16.04 Bare Metal - It is hung waiting for cluster to come up. Have proxy settings inside container, can ping proxy server from inside container, but apiserver container (from inside the container), has exited. No log that I can find.

CoreOS 7 VM and BM - See failure on first

[2017-07-07 15:25] danehans commented on #23
@pmichali Ubuntu BM.

[2017-07-07 17:30] pmichali commented on #23
@danehans I don't have it starting up under BM. At kubeadm init, it hangs trying to access external URL. I added in config options to cause the container to setup proxy server. From the container, I can see the proxy settings, ping the proxy server, but the process is still stuck.

I see (from inside the container), the apiserver container has exited (scheduler and controller are running). I don't

[2017-07-07 17:34] pmichali commented on #23
@ivan4th Under CentOS, I see that it fails at kubeadm init, saying graphdriver: driver not supported. In looking into the container, I see that docker is not running. If I try to start it, it fails with the same error that is reported on the host.

Comparing this to Ubuntu, the container for Ubuntu is running Ubuntu, and the config file 10-dind.conf is calling out a storage driver of vfs. The actu

[2017-07-07 17:40] pmichali commented on #23
Also, for CentOS, the host (outer VM) is using devicemapper, which I read Docker says is the **only** supported driver for CentOS.

[2017-07-07 17:48] pmichali commented on #23
More info for CentOS. Looks like it is trying to use overlay2, as I tried to set the device in a config file, and got this error:

[code]

I don't see where that is set on the command line. Not sure if it is supported for RHEL 4.8.5. I see that for Fedora, devicemapper is supported, and overlay2 (Fedora 26 or later, experimental), or overlay (experimental). Not sure how that maps to RHEL 4.8.5 (or

[2017-07-07 18:09] pmichali commented on #23
Ref: https://docs.docker.com/engine/userguide/storagedriver/selectadriver/#docker-ee-and-cs-engine

[2017-07-12 12:27] pmichali commented on #23
So, with CentOS in VM and bare-metal, I have the issue with kubeadm failing, giving a storage driver error.

With Ubuntu on bare-metal, behind firewall, I can get past the kubeadm init storage driver issue, but then apiserver fails to start up (container keeps restarting). The kubelet service shows that it cannot communicate with the api server, and sync fails. Not sure why.

Any thoughts on how t

[2017-07-12 19:25] pmichali commented on #23
@ivan4th Have some success with Ubuntu 16.04 in a lab that is behind a firewall. On the host, I have a http-proxy.conf file with proxy information for docker (in /etc/systemd/system/docker.service.d/. I modified dind-cluster-v1.6.sh to pass in the proxy environment variables to the master container as you mentioned. This allowed the master container to come up.

Inside of the master container, I w

[2017-07-12 20:33] danehans opened #28 "gce deploy failure"
I am trying to deploy kubeadm-dind-cluster to gce using the gce setup script. The deployment fails because docker engine does not start. The daemon does not start because the systemd dropin references `/usr/bin/docker daemon` instead of `/usr/bin/dockerd`. As soon as I update the dropin, reload and restart the daemon, docker successfully starts.

I am running docker-machine version `0.10.0, build

[2017-07-12 20:34] danehans commented on #28
xref https://github.com/kubernetes/kubernetes/issues/47666

[2017-07-12 20:39] danehans commented on #28
cc/ @pmichali

[2017-07-17 22:15] danehans commented on #28
docker-machine 0.12.1 or later is required due to https://github.com/moby/moby/issues/34023

[2017-07-17 22:15] #28 closed

[2017-07-18 21:33] dangula opened #29 "Enable arm and arm64 support."
kubeadm-dind works great on amd64 machines, it would be awesome if the marintis-dind container ran on arm and arm64 arch too.

[2017-07-20 16:14] pmichali opened #30 "Enhancements for gce-setup.sh and error in dind-cluster.sh"
To allow DinD to be easily used by developers at different locations, it would be nice to be able to specify the "zone" or have it read it in via config settings (like project is set).

May also want to allow the VM name to be overridden, so that the same script could be used from multiple machines.

In dind_cluster.sh, when E2E command is performed, it ends up running e2e.go and passing -check_ve

[2017-07-20 22:38] danehans commented on #23
@pmichali I was thinking of closing this since we resolved the original issue. If you want to continue to pursue the proxy issue, can you open a separate issue?

[2017-07-21 10:27] pmichali commented on #23
@danehans OK. There are two issues. One is working behind a FW, the other is getting DinD to work on CentOS 7.

[2017-07-21 10:52] pmichali opened #32 "CentOS 7: Docker App Container Engine startup fails - error initializing graphdriver: driver not supported"
When trying to start up DinD, during kubeadm init, a failure is seen for Docker Application Container Engine, saying driver not supported.

When checking the master container, docker is not running due to this error. If an attempt is made to manually start docker, the same error is seen.

This works on Ubuntu 16.04. In comparing the two, we see that for Ubuntu the host and the master container use

[2017-07-21 14:43] danehans commented on #23
OK. I'm closing this issue since the original problem has been resolved. Thanks!

[2017-07-21 14:43] #23 closed

[2017-07-24 15:49] pmichali commented on #32
Although resolved for Ubuntu, it is still a problem for CentOS.

[2017-07-25 11:34] pmichali commented on #30
Did a PR for some changes. Two tests failed. How do I retest, without pushing a new patch?

Do the tests setup GCE prior to the run, such that "zone" is defined, or do we need to handle the case where zone may not be configured in gcloud config?

Who should be assigned to this issue to review?

[2017-07-25 12:50] pigmej commented on #30
@pmichali you can't recheck using our CI without pushing new patchset. Or you're trying to do it on your local machine?

Travis needs to fetch your code. To fetch it you need to push code :)

[2017-07-25 14:29] pmichali commented on #30
@pigmej thanks. I did PR #31 to address the issue. It failed on one test, and I'm not sure why (so wanted to recheck).  Any thoughts about the zone question? I'm wondering if I need to check to see if config is empty and then hard code a zone as a last resort.

[2017-07-25 19:10] travisn opened #33 "Routing to a service ip does not work from the kernel"
When running DinD, if a kernel module attempts to target an ip address that is a Kubernetes service IP, the route does not get forwarded.

I've tried the different networking options of bridge, calico, flannel, and weave and they all have the same behavior that the kernel module fails to target the service IP.

In the [GCE documentation](https://kubernetes.io/docs/concepts/cluster-administration/n

[2017-07-26 01:02] travisn commented on #33
Ok, found the issue on our side, apologies for the false alarm. For our test environment, we were launching the rbd pod with the docker context of the host instead of the same docker context that everything else in DinD is running with. Therefore, the network routes were not configured in the container we were launching. Once we launched with the same context, networking was configured as expected

[2017-07-26 01:02] #33 closed

[2017-07-29 03:12] warmchang opened #34 "Create a master node takes a long time."
Run "./dind-cluster-v1.6.sh up", can create the cluster succesful.
[code]

But it spent so long time, check the print & found "[apiclient] All control plane components are healthy after 35581.805504 seconds".

Where can I got the full log, then to analysis what happand in the "35581.805504 seconds"? Thanks.

[code]

[2017-07-31 08:39] jellonek commented on #32
On fedora you can change storage driver replacing content of `/etc/sysconfig/docker-storage` with:
[code]
Probably the same (or something similar) should work for Centos and RHEL.

[2017-07-31 08:53] jellonek commented on #8
@djschny do you have any logs from restarting `api-server` containers?

[2017-07-31 09:22] jellonek commented on #21
@djschny can you verify if `./dind-cluster-v1.6.sh reup` (defined [there](https://github.com/Mirantis/kubeadm-dind-cluster/blob/master/fixed/dind-cluster-v1.6.sh#L924), which is almost the same as `up`) does what you are asking for?

[2017-07-31 11:43] #18 closed

[2017-08-03 15:35] jellonek commented on #21
@djschny ping.

That works for me.

[2017-08-04 10:45] pmichali commented on #30
@pigmej Can you help with test issues? I created PR #35, which has just one simple change from this PR that doesn't affect DinD operation (the original patch for this commit too, did not affect the tests), and it is failing src-1.7 and src-master tests. Looks like there is an issue with the baseline tests for these two.

I've got several commits (this one enhancing GCE, and fixing arg for dind-clu

[2017-08-04 12:37] djschny commented on #21
I just tried `./dind-cluster-v1.7.sh reup` and it definitely gets further, but unfortunately it hangs on the dashboard. I observed this by waiting forever at the dashboard setup and then examined the pods:

[code]

[2017-08-05 18:30] tiefpunkt commented on #18
@djschny @ivan4th the `chmod ~/.kubeadm-dind-cluster/kubectl-*` is still necessary, so I don't think this has really been fixed fully.

[2017-08-07 11:55] tennix commented on #32
@pmichali @jellonek Hi, I've found that changing `overlay2` to `overlay` works on CentOS. Currently CentOS doesn't support overlay2 driver, so in [rundocker](https://github.com/Mirantis/kubeadm-dind-cluster/blob/master/image/rundocker#L25-L27) we can't just set it to overlay2 whenever there exists *overlay* in /proc/filesystems.
I don't have an OS that supports overlay2 driver at hand, so I don't

[2017-08-07 12:38] pmichali commented on #32
Can you advise on how you setup DinD to have the OS use overlay vs overlay2? I’d like to try it out when I get a chance.  BTW, Ubuntu 16.04 works with overlay2, and I’ve been using that currently.

Regards,

Paul Michali (pcm)

[2017-08-07 12:54] pigmej commented on #32
@tennix overlay2 is not listed in /proc/filesystems when it's supported. Checked on fedora

[2017-08-07 13:38] tennix commented on #32
@pmichali I built a new docker image based on mirantis/kubeadm-dind-cluster:v1.7 and changed *overlay2* in /usr/local/bin/rundocker with *overlay*. And tagged this new image as mirantis/kubeadm-dind-cluster:v1.7 and run dind up again.

@pigmej Oh, that way how can we determine whether use *overlay2* or *overlay*. Maybe we can follow docker's convention by checking kernel version. I'll send a PR if

[2017-08-07 13:50] tennix opened #36 "Upgrade etcd version"
According to [kubeadm doc](https://kubernetes.io/docs/admin/kubeadm/#running-kubeadm-without-an-internet-connection), kubeadm uses etcd v3.0.17. But etcd image in mirantis/kubeadm-dind-cluster v1.6 and v1.7 is still v2.2.5. So could you upgrade etcd image to v3.0.17.
I didn't see how the save.tar.lz4 was created so I don't know how to upgrade this myself

[2017-08-07 14:19] ivan4th commented on #32
Hopefully fixed in 477c3e399fbcabfac0c7c3f5f0918031fff65a37, please verify.

[2017-08-07 14:23] ivan4th commented on #36
That's actually an issue because storing old images in `save.tar.lz4` doesn't make sense, so thanks for reminding me about it. But note that kubeadm will still use newer images, it's just that they'll have to be pulled during the cluster setup.

[2017-08-07 14:58] tennix commented on #32
@ivan4th Yeah, I just tried that and it works. Thanks for your quickly fix

[2017-08-07 15:06] tennix commented on #36
Yep, kubeadm will use newer version nevertheless. But I wish the correct images are included in kubeadm-dind itself not wasting downloading images when cluster is setup.

[2017-08-07 15:39] pmichali commented on #32
@ivan4th Thanks. I'll give it a try on CentOs 7 system, as soon as I reprovision one.

[2017-08-07 23:48] jellonek commented on #32
@tennix `overlay` and `overlay2` are 2 versions of docker "graph driver" which are using the same `overlayfs` filesystem under the hood.
For wider info please refer to https://docs.docker.com/engine/userguide/storagedriver/overlayfs-driver/

[2017-08-08 08:18] tennix commented on #36
I wonder why [here](https://github.com/Mirantis/kubeadm-dind-cluster/blob/master/build/funcs.sh#L25) is still a TODO, since kubeadm-dind-cluster already upgraded to v1.6 and v1.7 which uses etcd v3.0.17

[2017-08-16 11:15] ivan4th commented on #34
Sorry for taking so long to reply, do you still experience the problem? If so, it would be nice to grab the following diagnostics while kubeadm is waiting for the control plane:
[code]

[2017-08-16 11:16] ivan4th commented on #32
@pmichali did the fix work for you?

[2017-08-16 11:18] pmichali commented on #32
I checked on my lab system running CentOS7 and was able to bring up the cluster just fine. I also tried using GCE, but am having a problem with validating certs. In any case, it seems like this is working. Thanks!

[2017-08-16 12:35] pmichali commented on #32
Yes, the cluster came up fine with CentOS. I tried using gcd-setup.sh, but I’ve got some problem with certificates, and docker-machine is not communicating with GCE. I tried generating a new certificate (JSON file) and new project, but still am having issues. Not sure what I’m doing wrong, but not related to this commit. This could be closed.

Regards,

Paul Michali (pcm)

[2017-08-17 07:12] warmchang commented on #34
@ivan4th I am redeploying the environment, it look like still slowlly.
[code]
After it finished, I'll  run the command to check the detail. Thank you!

[2017-08-18 03:25] warmchang commented on #34
I found that someboby are talking about this: https://github.com/kubernetes/kubeadm/issues/360, https://github.com/kubernetes/kubeadm/issues/228 , and a feture request is submmitted: https://github.com/kubernetes/kubeadm/issues/377

So I'll close this and track these issue above. @ivan4th thanks for your replay.

[2017-08-18 03:25] #34 closed

[2017-08-19 14:04] fii opened #38 "Is there a way to mount host volumes ?"
Is there a way to mount host volumes

[2017-08-25 20:59] ivan4th opened #39 "Fix hyperkube handling for k8s master (pre-1.8)"
Current kubeadm no longer supports `KUBE_HYPERKUBE_IMAGE` and requires passing control plane image via the config.

[2017-08-25 21:00] danehans commented on #39
/cc @pmichali

[2017-08-25 21:02] ivan4th commented on #39
Working on this issue, ETA is Monday Aug 28

[2017-09-01 16:52] danehans commented on #39
@ivan4th any update on this issue?

[2017-09-19 18:13] pmichali commented on #39
I've been working on trying to integrate IPv6 capabilities into kubeadm-dind-cluster, and have been hitting a bunch of issues with bringing up the cluster. @danehans pointed me to this issue and I was wondering if it is related to what I'm seeing, as I'm trying to use local source code repo for kubernetes.

If so, please let me know as soon as you have something for this. I'm glad to try out any p

[2017-09-20 11:23] pmichali commented on #39
Just to provide some background for the issue. It looks like DinD isn't working, when one wants to use a local kubernetes repo and run in "source" mode. From discussions with Ivan, it appears that KubeAdm no longer is accepting the KUBE_HYPERKUBE_IMAGE environment variable, which was the mechanism being used to allow local binaries to be used.

It sounds like the KubeAdm --config option needs to b

[2017-09-26 19:23] danehans commented on #39
@ivan4th I found an issue with the fix-1.8+ branch. [This gist](https://gist.github.com/danehans/0d54a2b869229c3f95e4c2609507210d) details the issue and fix. In summary, the kdc deploy "almost" completes, it hangs on kube-proxy. The kube-proxy daemonset does not get deployed because the controller-manager pod is not running on the master container. The controller-manager pod on the master containe

[2017-09-26 19:32] danehans commented on #39
I also had to update `DefaultKubernetesVersion` to `v1.8.0-rc.1` in `cmd/kubeadm/app/apis/kubeadm/v1alpha1/defaults.go`. I need to understand how you manage the kubeadm.conf file so this k/v pair can be added or updated.

[2017-10-02 16:02] danehans opened #40 "1.8 Relase"
With the release of k8s 1.8, are you planning to release a 1.8 version of kubeadm-dind-cluster? If so, what is the planned release date?

[2017-10-02 16:02] danehans commented on #40
cc @pmichali

[2017-10-03 13:18] pmichali opened #41 "Add IPv6 support to DinD"
This is to track efforts to add support in DinD for Kubernetes cluster running in IPv6 mode (initially IPv6 only, later dualstack), connected to a IPv4 network. Goal is to be able to use DinD for E2E testing of IPv6 functionality in Kubernetes.

Note: IPv6 support in Kubernetes is a WIP, and as such, for now, custom Kubernetes repos are used that have patches/changes that are in-flight for kuberne

[2017-10-04 16:04] danehans commented on #39
@ivan4th I still intermittently notice the kube-controllermanager.yaml static pod manifest not getting moved from the backup dir > /etc/kubernetes/manifests:

[code]

After moving the manifest `# mv /manifests.bak/kube-controller-manager.yaml /etc/kubernetes/manifests/`:
[code]

[2017-10-04 17:21] pmichali commented on #39
@danehans In the PR I have (#42), I included a fix for that. The code just returns, if the controller or proxy pods cannot be stopped, and misses out out restoring the file. I changed the returns to breaks, as part of that PR and don't see that issue.

One one system, I do see a problem stopping DNS occasionally, but the system does come up, after a longer time.

[2017-10-24 19:09] pbochynski opened #43 "Is there any way to expose NodePort to the host?"
I see that master node has exposed port 8080. I need to access some services exposed with NodePort from my machine. Is there an easy way to enable it?

[2017-11-09 00:42] danehans opened #45 "IPv6 Route Logic Fails"
I see the following error in a gce ipv6 deployment:

[code]

Here is the related function in the script:
[code]

I believe how the route is checked is dependent on $GCE_HOSTED. If $GCE_HOSTED = true, then:

[code]

else:

[code]

cc @pmichali

[2017-11-09 04:53] pmichali commented on #45
Did you ue the gce-setup-local.sh script?  It sets the GCE_HOSTED flag.  Now that the code is upstreamed, likely gcd-setup.sh also needs to do the same thing as ice-setup-local.sh.

P.S. I’m on PTO until after the 17th, and will have very limited internet access.

Regards,

Paul Michali (pcm)

[2017-11-09 18:03] danehans commented on #45
I did use the gce-setup-local.sh script.

[2017-11-10 09:11] ivan4th commented on #45
Note that k-d-c is supposed to be able to run against remote docker engines (case in point: CircleCI) and on on-Linux systems (e.g. Mac doesn't have `ip` command). So we need to either (preferably) somehow fix this (e.g. run the command using docker in host netns) or document the fact that IPv6 support is not compatible with Mac and remote docker.

[2017-11-10 09:42] adhithyasrinivasan opened #46 "Services deleted when using reup the dind cluster with the script"
First time used the dind-cluster-v1.8.sh script with up and installed a sample application. Service, deployments etc are working fine. After some time the vm got restarted. We tried to bring up dind cluster with the script and reup command. But service deployments everything are deleted.

How to bring up high availability dind cluster?

[2017-11-13 00:56] pmichali commented on #45
@danehans, If you used gce-setup-local.sh, then the GCE_HOSTED flag should be set. You can add "set -x" to dind-cluster.sh to see what is going on. Note: for gce-setup-local.sh, you need to set DIND_IMAGE and the BUILD_* env variables.  We should probably change gce-setup.sh, toset GCE_HOSTED to true.

@ivan4th, IIUC, this script is an example, and for GCE. For other hosting options, different set

[2017-11-13 01:32] ivan4th commented on #45
Well, what I tried to say is that proper way to add the route is probably using something like
`docker run --net=host --privileged "${busybox_image}" ip route add 172.18.0.128/25 via 172.18.0.200` instead of `sudo ip route add 172.18.0.128/25 via 172.18.0.200`. If docker engine runs on the same machine as `dind-cluster.sh` script, the effect will be the same, but it'll account for the case where `

[2017-11-16 05:26] danehans opened #47 "dind::at-least-kubeadm-1-8 function fails"
I am using master for kdc and k8s and the dind::at-least-kubeadm-1-8 function does not work properly for me. My deployment completes successfully, but kubeadm init does not reference kubeadm.conf. When I remove the reference to dind::at-least-kubeadm-1-8 in the dind::init function, kubeadm init works properly by using kubeadm.conf. Here are a few details from my deployment.

I have to use `sudo -E

[2017-11-16 10:14] ivan4th commented on #40
Fixed by 1bf7caac8cdd72c866921d6852588fe573779456

[2017-11-16 10:14] #40 closed

[2017-11-16 10:31] ivan4th commented on #36
Fixed by 1bf7caac8cdd72c866921d6852588fe573779456
Problem is, kubeadm deploy still causes 3 etcd images to be pulled: 2.2.1, 2.2.5 and 3.0.17. For now I included all of them, will try to investigate that separately

[2017-11-16 10:31] #36 closed

[2017-11-16 13:58] ivan4th commented on #47
The command fails because you have extra `)` at the end (it's from `$(...)` in dind-cluster.sh code)
[code]
The regex should work with your kubeadm version:
[code]

[2017-11-21 21:36] pmichali commented on #45
Hi, I’m back from the Openstack Summit and PTO…

Thanks Ivan! I had an open TODO in the dins-cluster.sh, asking how to get around using sudo. This will work perfect.  I’ll update the script, add some changes for gcd-setup.sh, and revise the readme, based on updated PRs in flight. Right now, one in-flight PR that Rob is working on has some issues, so we need to get that resolved, so that I can test

[2017-11-22 19:33] danehans opened #48 "Add Kubenet Support"
Kubenet support is needed for k8s e2e. Here is how you configure kubenet networking:

1. Do not setup a CNI conf file and do not call any CNI plugin. Kubenet wraps the CNI bridge and local-ipam plugins and dynamically creates the CNI conf file based on the controller-manager args below.

2. Update all kubelet configs to include:
[code]

3. Update controller-manager pod manifest to include:
[code]

[2017-11-22 22:32] danehans commented on #48
xref: https://github.com/kubernetes/kubernetes/pull/56245

[2017-11-27 18:37] danehans opened #49 "Add Support for kubeadm extra args"
kubeadm.conf supports setting extra args for tailoring a kubeadm deployment. See the following example for using extra args to set k8s component IPs:

[code]

[2017-11-27 18:38] danehans commented on #49
cc @pmichali

[2017-11-28 19:27] pmichali commented on #45
Will push up a change soon that uses docker run command to set IP (along with other changes).

[2017-11-28 19:44] pmichali opened #50 "Conntrack work-around no longer works"
In wrapkubeadm, the script passes --conntrack-max=0 and --conntrack-max-per-core=0 to kube-proxy in an attempt to tell it to skip trying to update the hashsize, when there is a large conntrack max configured on the host to avoid docker issue https://github.com/docker/docker/issues/24000.

Unfortunately, recent changes to kube-proxy have it read the CLI args, and then attempt to read from a config

[2017-11-28 19:48] pmichali commented on #50
As a temporary work-around, one can change kube-proxy to force the default conntrack settings to zero, which will prevent kube-proxy from trying to update hashsize. The BUILD_HYPERKUBE and BUILD_KUBEADM flags can be set and the following patch applied to a local kubernetes repo:

[code]

[2017-11-28 20:06] pmichali commented on #50
Just to clarify on the docker issue. The current code, does a check to see if the filesystem is writeable, in an attempt to detect when there is a nested docker environment and to be able to avoid the docker issue. However, what is happening, is that the filesystem is reporting as **writeable**, but later, when the writing is attempted, it fails. So, the code in kube-proxy to address the docker is

[2017-11-29 16:28] stour opened #52 "run kubeadm-dind-cluster behind a corporate proxy"
I'm trying to run your awesome project behind a corporate proxy.

I first ran `$ ./dind-cluster-v1.8.sh up` to see what I get and it fails when trying to obtain `mirantis/kubeadm-dind-cluster` from Docker Hub. I didn't configured the proxy on my Docker daemon as I'm proxifying any call to Docker Hub through an internal Docker registry. So I updated the name of the images to obtain in `dind-cluster

[2017-12-10 12:07] zoobab commented on #21
I have managed to put kubeadm-dind into one big docker image (docker-in-docker-in-docker), but the image is 5GB big.

Would there be a way to reduce drastically the size of the whole cluster?

[2017-12-10 13:37] webwurst commented on #21
@zoobab Can you share your `Dockerfile`?

[2017-12-10 14:58] zoobab commented on #21
@webwurst I hit a problem trying to do a docker build combined with privileged mode (needed to launch the dind-cluster-v1.6.sh shell script). So my attempt to make a Dockerfile stopped there.

See:

https://github.com/moby/moby/issues/1916

Then I just made a container by hand with ubuntu, and saved the container with a docker save as an output. The only thing I had to change was the listening add

[2017-12-11 13:51] zoobab opened #54 "script v1.6 fails under Alpine 3.7 with permission denied"
Hi,

I am running the script under Alpine 3.7, and I hit the following issue:
[code]
If I do a chmod +x on it, it then works fine.

[2017-12-11 22:04] ReSearchITEng commented on #43
Hello,
I am also interested in a way to solve this.
More exactly, I am interested in deploying nginx ingress controller, but, NodePort does not listen on 127.0.0.1...

[code]

If the nodePort would be listening on 127.0.0.1, we could easy expose the ports listening inside the cluster on localhost (see https://github.com/Mirantis/kubeadm-dind-cluster/pull/55 ).

[2017-12-13 20:20] wederbrand commented on #52
I too would like to run this behind a corporate proxy. My guess it that the proxy settings from the (original) host isn't moved copied down into the dind-hosts.

I just starting playing with it today. I guess it would be possible to exec into the containers and fix the proxy settings and then try to restart the shell script.

But it really would be nice to have start up options for a corporate (no

[2017-12-14 16:53] wederbrand opened #56 "Add possibility for the local host to act as repository."
Basically the goal is to replace minikube with this. Minikube is cpu and memory intensive and has only one master node and no workers.

The dind-approach is by far better, just not as mature.

On thing that doesn't work (or I found no way of doing it) is to build images locally without pushing them to any repository and the use them in the dind-cluster.

That would be awesome.

[2017-12-14 17:06] pigmej commented on #56
It's docker in docker so you may use:
`docker save {your_image} | docker exec -i {target_node} docker load`

where target_node is the node where you need your image (you can have script that does it automatically on all nodes)

[2017-12-21 07:21] Ruwan-Ranganath opened #59 "Increasing dind worker nodes limit"
I'm trying to increase my worker nodes to 3 and currently there is 2.
Couldn't find any workaround through the wiki.

[2017-12-22 07:52] ivan4th commented on #59
Hi, try setting it via `export NUM_NODES=3` The config vars are described in [config.sh](https://github.com/Mirantis/kubeadm-dind-cluster/blob/master/config.sh)

[2017-12-22 07:56] ivan4th commented on #56
Problem is that if you're using multiple nodes, you'll have to use some kind of docker repo, probably local one, and push images there. So are you asking about hints how to make DIND work with local docker image repository? Other possibility is to make a single-node cluster and use it's inner docker engine to build images etc. I can also give some hints how to do it if you want

[2017-12-22 08:45] wrecklass commented on #56
I think what were looking for is a way to do:

`kubectl run myapp --image myapp:v3`

And have it pull the image from the local host system Docker repository, rather than Docker Hub.  Which wouldn't seem that hard to arrange. Minikube seems to manages to do this.

[2017-12-22 09:43] wederbrand commented on #56
All I need to do i `docker build -t myapp:v3 .` and have it be accessible inside my cluster.

Minikube solves by directing DOCKER_HOST to minikube's local repository.

A single node DIND-cluster would work perfect, actually, running just the master, untainted, as in minikube would be a good-enough replacement for minikube (mainly what I'm after)

[2017-12-24 13:39] Ruwan-Ranganath commented on #59
Thanks and Worked .

[2017-12-24 13:39] #59 closed

[2017-12-29 06:41] xiangpengzhao opened #61 "Failed to start control plane with dind-cluster-v1.8.sh due to unknown flag(s)"
kube-apiserver and kube-controller-manager failed to start.

[code]

[code]

[code]

[code]

[2017-12-29 06:42] xiangpengzhao commented on #61
cc @ivan4th

[2017-12-29 11:03] adidenko opened #62 "Pod network is not changed when using Calico CNI"
There's a typo in bash scripts due to which `$POD_NETWORK_CIDR` is not changed to "192.168.0.0/16". I'm not quite sure why such CIDR adjustment is needed, but it does not work as expected.

**Steps to reproduce:**
[code]
and check Pods IPs

**Expected result:**
Pods have IPs from"192.168.0.0/16" network

**Actual result:**
Check Pod IPs, they are from "10.244.0.0/16" network

[2018-01-03 00:24] nhoughto opened #64 "sha1sum calculation fails on first run (at least on alpine)"
On alpine including running in the standard "docker:latest" image, the checksum calculation of `kubectl` fails on first run, this appear to be because the `echo` piped into `sha1sum -c` is missing an extra space

[code]

should be (note the two spaces rather than one)

[code]

I haven't tested running it on different linux variants, as this might be a busybox / alpine specific problem, thus issue

[2018-01-05 06:58] xiangpengzhao commented on #61
It works on my another env. strange:)
close

[2018-01-05 06:58] #61 closed

[2018-01-08 00:25] nhoughto opened #65 "Don't force dashboard installation"
For our use case we don't require the kubernetes dashboard, so it would be useful for us (and save time) to have a flag that would not require it to be installed and wait for it to come up before completing a run / restore.

[2018-01-10 15:46] #62 closed

[2018-01-13 22:07] ethanocentricity opened #66 "Up of a fresh kubeadm-dind-cluster fails for newest (2017-01-12) docker images"
Running on Docker Mac 17.12.0 (and same problem with 17.09.01 i think)

-  When re-upping an existing cluster created with the pre 2017-01-12 docker v1.8 image, the cluster restarted properly (upgrading from v1.8.4 to v1.8.6).
-  However, after running clean on the prior cluster and then running up it fails.  Running `get pods --all-namespaces` shows the kube-dns and kube-proxy images failing.

Th

[2018-01-16 05:22] stealthybox opened #67 "Can't pull mirantis/kubeadm-dind-cluster:v1.9 on cluster up"
When starting a 1.9 cluster using the fixed version script we fail to pull the image from docker hub:
[code]
The `v1.9` tag hasn't been pushed upstream yet: https://hub.docker.com/r/mirantis/kubeadm-dind-cluster/tags/

Solution is to tag and publish this image in the mirantis repo.

### Temp workarounds for others:
build your own image locally -- use the non-fixed script:
[code]
use mine:
[code]

[2018-01-17 21:58] lingxiankong opened #71 "Can not access to service on local host"
I installed kubeadm-dind-cluster successfully on my local host using `dind-cluster-v1.8.sh up`, i created deployment and exposed a service. I can access that service inside master container, but failed on local. Can anybody help me please?

[2018-01-18 14:25] vs7098 opened #72 "Error waiting for kube-proxy and the nodes"
Hi There i am trying to build one dev machine  with 1.8, however its failing at kube-proxy.
Any help really appreciated.

# ./dind-cluster-v1.8.sh up

NAME                         READY     STATUS        RESTARTS   AGE
etcd-kube-master             1/1       Running       0          17s
kube-dns-545bc4bfd4-vnq5z    2/3       Terminating   0          59s
kube-dns-855bdc94cb-gj8q9    0/3       Termin

[2018-01-19 00:02] tallaxes commented on #72
It seems like this is due to mismatch of `wrapkubeadm` expectations regarding the `kube-proxy`'s ConfigMap key names. `wrapkubeadm` (in `dind::frob-proxy-configmap`) expects and attempts to patch `config.conf`, but it is now `kubeconfig.conf` (possibly due to `kubernetesVersion: v1.10.0` in kubeadm config?) Changing the name to `kubeconfig.conf` in `wrapkubeadm` appears to fix this.

[2018-01-19 01:18] vs7098 commented on #72
Still the same issue.

I **did try with dind-cluster-v1.9.sh and dind-cluster-v1.8.sh both having issue, however with 1.7 i am able to build the cluster**

[2018-01-19 06:40] tallaxes commented on #72
`wrapkubeadm` is part of the image. You tried with a custom image that included the latest `wrapkubeadm` plus the above fix? This seemed to work for me. Note that both `jsonpath` and `--from-file` need to fixed.

[2018-01-22 20:08] DavidTPate commented on #72
@tallaxes any chance of the `wrapkubeadm` image being updated? Running into the same issue.

[2018-01-22 22:35] tallaxes commented on #72
Sorry, that's outside of my control, would love to see updated images as well. @ivan4th ?

FWIW, if you have to have it now, but don't want to or can't rebuild the images from scratch locally, you can get the latest `wrapkubeadm`, fix it as described above, `chmod 755 wrapkubeadm`, replace it in a custom image with the following trivial Dockerfile, and have e.g. `dind-cluster-v1.8.sh`  use it (by

[2018-01-26 04:15] xenophenes opened #73 "How to enable RBAC on the cluster?"
I'm curious to know if it's possible to start the cluster with RBAC enabled, to allow for "--clusterrole" flag functionality and the like.

[2018-01-26 05:24] MHBauer commented on #73
kubeadm sets up rbac by default. I've never had one of these without rbac.

[2018-01-26 05:32] xenophenes commented on #43
This issue was never addressed. I'm also interested in how to go about this.

[2018-02-05 03:14] savamilovanovic opened #74 "Exposing an External IP Address to Access an Application in a Cluster"
I successfully installed dind-cluster on my laptop using 1.8 sh. I then followed steps from k8s tutorial:
https://kubernetes.io/docs/tutorials/stateless-application/expose-external-ip-address/

It is possible to access the service from inside the cluster.
However, external port never gets assigned, EXTERNAL-IP stays forever in _pending_:
[code]
Could somebody give me a hint if / how would be possi

[2018-02-05 06:31] savamilovanovic commented on #71
I was able to expose it using EXTRA_PORTS environment variable.

[2018-02-05 06:33] savamilovanovic commented on #43
I was able to expose node port using environment variable EXTRA_PORTS.

[2018-02-06 06:16] chlung commented on #67
@stealthybox Thanks for the solution, but I am getting the following error.  Do you know how to fix my issue?  I am running on Mac.  Thanks.

* Saving a copy of docker host's /lib/modules
* Starting DIND container: kube-master
sed: can't read /etc/kubeadm.conf.tmpl: No such file or directory

[2018-02-06 06:37] stealthybox commented on #67
@chlung I think that's related to a more recent PR that switches from using a heredoc to using envsubst on a file (#60)

Is it broken with my image?
Did you try building a fresh image?

I can't guess why this would break without digging deeper into it.

[2018-02-06 13:30] zoobab opened #76 "kubectl errors polluting the output with "proto: duplicate proto type registered: google.protobuf.Any""
Hi,

I am using dind-cluster-v1.7.sh, and when I do a docker exec -it 1ab4e5f7 /bin/bash, and run "kubectl get pods", the output is polluted by this:

[code]

Any idea why? Maybe the client and the server mismatch?

[2018-02-06 13:35] zoobab commented on #76
See also https://github.com/kubernetes/kubectl/issues/30

[2018-02-06 15:01] chlung commented on #67
@stealthybox I tried to build locally, but I am getting a build error.

* Saving images to: save.tar.lz4
build/../build/funcs.sh: line 77: lz4: command not found

I am running on Mac.  So, I am not sure if this is the problem.  Thanks for your help.

[2018-02-06 16:56] riuvshin commented on #71
you want something like nodeport experience, but what you really want to do is to explore what ingress is.

[2018-02-06 17:09] riuvshin opened #77 "Question: how to set up PVs?"
hi guys!  thanks for the awesome project!

My PVC is always in "pending" state, probably because there is NO any PV by default

so my question is how to enable PVs and recycler ?

Thanks a lot!

[2018-02-06 18:55] stealthybox commented on #67
@chlung yeah, that's the problem: `brew install lz4`
The README needs to be updated.

[2018-02-06 21:03] LingxianKong commented on #71
@savamilovanovic, hi, could you please describe in detail? thanks!

[2018-02-06 21:04] LingxianKong commented on #71
@riuvshin with nodeport, do I need to expose service ports dynamically for k8s containers?

[2018-02-06 22:26] savamilovanovic commented on #71
Assume you have a Cassandra cluster service on 30942 and you want to see it on the host, on port 9042:
[code]
You'll see that top level docker exposes cluster service port on 9042, for kube-node-1
[code]
To make it work with more than one node, some work on _dind-cluster-v1.8.sh_ would be needed.

[2018-02-06 22:36] LingxianKong commented on #71
@savamilovanovic thanks for your reply.

But how I can specify EXTRA_PORTS for the services need to be created dynamically during k8s cluster running?

[2018-02-06 22:44] savamilovanovic commented on #71
Perhaps using
    kubectl port-forward
but, it didn't work for me for some reason. Might be related with permissions. It blocks shell saying _Forwarding from 127.0.0.1:9042 -> 9042_ but it didn't work when I tried to access the service.

[code]
I have to troubleshoot it yet. If you figure that out, or if it works for you, please let me know.

[2018-02-07 01:15] LingxianKong commented on #71
port-forward command cannot be used for service, see here: https://github.com/kubernetes/kubernetes/issues/15180

[2018-02-07 04:54] chlung commented on #67
@stealthybox thanks a lot.  I am about to build now.

[2018-02-07 13:38] riuvshin commented on #77
Sorry for the dumb question,  I just thought that by default it will be similar to minikube, I deployed hostPath provisioner manually and now it works as I've expected.

[2018-02-07 13:38] #77 closed

[2018-02-07 19:53] riuvshin commented on #74
for LB I think you have to try ingress

I actually trying to do something similar, I've created ingress for my service and now I have an endpoint:
[code]

but that endpoint `10.192.0.3` is not accessible from the the host :(

if your external-ip is in pending state it probably means that there is nothing to handle that so `k8s-externalipcontroller` could help, give it a shot

[2018-02-07 21:47] riuvshin commented on #13
does this mean that with this dind cluster you can't deploy app, create service with ingress and reach that application from the host (not from the cluster) ?

[2018-02-07 21:55] riuvshin opened #78 "question: How to access ingress endpoint from the host?"
hi guys!
I need some help with accessing my app deployed to this dind cluster from the host...

my usecase is pretty simple, I have an app with a serivce + ingress
I used similar ingress configuration as in minikube with `--report-node-internal-ip-address`
and I see the endpoint IP but I can't reach it from the host. It perfectly works if I exec to che kube-node  container. I understand that inter

[2018-02-08 13:06] wallrj opened #79 "Error waiting for kube-proxy and the nodes"
Downloaded dind-cluster-v1.8.sh today and tried it on a new Ubuntu 17.10 machine, but it failed.

There are errors relating to mount namespace propagation ~~so I wonder if it's caused by: https://github.com/Mirantis/kubeadm-dind-cluster/pull/75~~

(I tested with an earlier version and got the same error)

[code]

[code]

Exits with:

[code]

Kubectl shows:

[code]

And

[code]

[code]

[code]

[2018-02-08 14:05] wallrj commented on #79
Running `docker exec kube-node-2 mount --make-shared /lib/modules` and `docker exec kube-node-2 mount --make-shared /run` on each of the nodes seems to have got kube-proxy running.

[2018-02-09 16:58] mwpeterson commented on #79
The latest update to the dind-cluster-v1.8.sh didn't fix this for me on OSX. Now there's a new error:
[code]

[2018-02-10 19:42] rbucker opened #80 "localhost:8080/ui is USELESS"
this configuration only means that you're running your cluster on a desktop with keyboard, mouse and monitor... and presumably a GUI with a browser.  However if you're like me you run everything experimental on a VPS whether it's next to my desktop or on amazon.  Therefore;

# k8s dashboard available at http://localhost:8080/ui

should really be the public IP and not localhost.

[2018-02-13 16:14] lukaszo commented on #79
@wallrj I wasn't able to reproduce your issue on Ubuntu 17.10. Maybe you've got old cached version from `https://cdn.rawgit.com` and new image from docker.

@mwpeterson I don't have OSX but I will try to fix your issue by checking if the path is a mountpoint.

[2018-02-14 22:14] lukaszo commented on #79
@ivan4th can we close this one? I couldn't reproduce the first issue and the second one is fixed now.

[2018-02-15 09:07] ivan4th commented on #79
Sure, closing, thanks @lukaszo

[2018-02-15 09:07] #79 closed

[2018-02-16 11:37] lukaszo commented on #67
1.9 image is pushed now and deploying with `./fixed/dind-cluster-v1.9.sh up` works.

[2018-02-16 11:37] #67 closed

[2018-02-16 16:51] leblancd opened #82 "kubelet never comes up on GCE with latest Kubernetes"
When I run the gce-setup.sh script on the latest Kubernetes master, I see this error:
[code]
When I look at the kubelet journalctl log, I see this error:
[code]
The cause of this error seems to be this commit in kubernetes/kubernetes, which eliminated the deprecated "--require-kubeconfig" flag from kubelet configuration:
   [https://github.com/kubernetes/kubernetes/pull/58367](https://github.com/k

[2018-02-18 03:00] savamilovanovic opened #83 "using_linuxkit causes dind-cluster-*.sh to fail on Docker for Windows 10"
After _using_linuxkit_ was introduced, it causes dind-cluster-*.sh to fail on Docker for Windows 10 with error **_mount: mount point /lib/modules/ does not exist_**:
[code]
Fix that worked for me was **_not_** to **use linuxkit** on Docker for Windows, by adding additional check `if ! docker info|grep -s '^Operating System: .*Docker for Windows' > /dev/null 2>&1 ; `  as shown below:
[code]
Could t

[2018-02-18 23:44] leblancd commented on #82
@ivan4th - Any thoughts on how hard this would be to fix? Is there a way to add version dependent kubelet config arguments?

[2018-02-20 16:18] ivan4th commented on #82
Hi, there's a way to add k8s version-specific parts to wrapkubeadm script, I think I'll be able to implement that tomorrow. Sorry for the delay.

[2018-02-21 01:45] pkrishn6 commented on #80
I am running Dind cluster in a VM (using vagrant) and enabling portforwarding between the guest and host does not help either because k8s dashboard is bound to the loopback interface.

[2018-02-22 12:27] wallrj commented on #79
Sorry for not replying sooner.

I've now cleaned out all docker images and re-downloaded the script and things seem to be working on my Ubuntu 17.04 vitual machine.

Thanks for looking into it.

[2018-02-23 18:15] redr0bin commented on #18
Sorry for commenting in already closed ticket, but are there any docker / macOS version requirements to run dind-cluster locally ?

[2018-02-23 20:12] redr0bin opened #86 "can not provision dind-cluster on latest macOS with latest docker"
Hey,

I'm getting troubles launching dind-cluster for testing purposes. master is being provisioned but no nodes are active. Kubernetes 1.8.6 / macOS 10.13.3 / docker for mac 17.09.1 / 17.12.0

* Setting cluster config
Cluster "dind" set.
Context "dind" created.
Switched to context "dind".
* Starting node container: 1
* Starting DIND container: kube-node-1
* Node container started: 1
* Starting no

[2018-02-25 14:58] djschny commented on #86
I'm getting the same thing as well with the v1.9 too.

[2018-02-26 14:08] FredericLeroy commented on #80
You can use kubectl or the dashboard by proxyfying it with the following command on the VM :

` /usr/bin/kubectl proxy --port 8080 --address <public_address> --accept-hosts='^.*$'`

But after, you'll be limited to expose your services to the world (see issue #72)

[2018-03-01 19:20] vicaya commented on #86
This is due the fixed version scripts not being updated by https://github.com/Mirantis/kubeadm-dind-cluster/commit/fc33b474f3a5e48940766c54e3d1b50a92f1c8b9

[2018-03-02 00:23] pkrishn6 commented on #86
@redr0bin : Does the suggested fix, fix the issue? I made the modification to the fixed script I use and I still see the issue...

[2018-03-06 02:27] fturib commented on #82
Looks like we also need to have this flag '--fail-swap-on=false' as the defaut value of this flag has changed on Jan 2nd.

`Environment="KUBELET_KUBECONFIG_ARGS=--kubeconfig=/etc/kubernetes/kubelet.conf --fail-swap-on=false"`

[2018-03-06 23:31] leblancd opened #87 "Add command-line flag to build ginkgo even if e2e tests are not being run"
Feature enhancement request:
It would be extremely helpful to have a command line flag for dind-cluster.sh that would indicate that ginkgo binary should be built, in addition to the e2e and e2e-serial flags. The use case is a Kubernetes CI test job that uses gce-setup.sh/dind-cluster.sh to bring up a cluster, but then the invocation of the ginkgo binary to run tests is done later by the Kubernetes

[2018-03-09 14:22] zoobab commented on #80
I have used a socat process to listen on 0.0.0.0 and forward the port.

[2018-03-09 20:53] rpothier opened #88 "Update DinD to get pre-build images from a CI build"
This is a feature request.
It would be useful if DinD could use pre-built images located in Google storage
for CI testing.

[2018-03-09 20:53] rpothier commented on #88
/assign rpothier

[2018-03-12 04:03] chlung opened #90 "Insufficient memory"
Hi,
I deployed prometheus to k8s cluster, and pod failed to create with error "0/3 nodes are available: 1 PodToleratesNodeTaints, 3 Insufficient memory.".  The yaml files are from https://github.com/stefanprodan/k8s-prom-hpa/tree/master/prometheus.  Any suggestions about my error.

Thanks.

[2018-03-16 17:22] #82 closed

[2018-03-18 05:33] rc452860 opened #94 "tar: .wh..wh.plnk: Cannot stat: Operation not permitted"
I follow the document execute command blow:
[code]
and get this error:
[code]

use Ubuntu 16.04 amd64 Linux release

docker version:
[code]

I noticed document recommend docker 1.12+
so I change my docker version to 1.12+, and also get same error too.
[code]

[2018-03-19 11:23] tahsinrahman opened #97 "Is it possible to use kubeadm-dind-cluster in concourse-ci?"
It is possible to use it in travis-ci. Is it possible for concourse-ci in any way?

I tried to run it inside concourse using [this](https://github.com/meAmidos/dcind) image, but got this output.
[code]

I also got the same error when i tried to use dind-cluster inside a container locally. I tried the followings described in [docker hub](https://hub.docker.com/_/docker/)
[code]

[2018-03-19 21:36] pigmej commented on #94
Please switch your dockerd to overlayfs2 from aufs. Aufs is really buggy and not recommended.

[2018-03-19 21:40] pigmej opened #98 "google cloud sdk should be only used when needed"
After recent changes in `wrapkubeadm` in https://github.com/Mirantis/kubeadm-dind-cluster/pull/89 we're downloading google cloud sdk always.

I think it should be only downloaded when needed.

The problem seems to be https://github.com/Mirantis/kubeadm-dind-cluster/pull/89/files#diff-94a5a32bdd335b47ad3760d4da9ea020R119

cc @ivan4th @rpothier

[2018-03-19 22:57] zhex900 opened #99 "The connection to the server localhost:8080 was refused"
Hi,
I have a problem connecting to the master node. The possible problem might be the master node is binding 127.0.0.1. It should bind 0.0.0.0. Which line should I change?

I am using the master branch.

[code]

[code]

[code]

[code]

I have changed my localhost ip to the docker-machine ip
[code]

[2018-03-19 23:13] pigmej commented on #88
Closing this one as PR is merged.

[2018-03-19 23:13] #88 closed

[2018-03-20 17:58] rpothier commented on #98
/assign rpothier

[2018-03-21 22:36] danielepolencic commented on #78
Same issue here.

[2018-03-27 12:58] rburgst commented on #99
Same problem here running boot2docker within a parallels driver on Mac OSX. Unlike docker for mac, the docker VM on parallels gets an own IP and hosts entry (e.g. `kube.shared`).

[2018-03-28 21:53] #98 closed

[2018-03-29 19:14] avlbanuba opened #103 "Can one passthrough GPU to the inner docker?"
It is not a bug really. I just want to know if it possible to roll out a cluster of nodes with GPUs?

Say, I have 4 GPUs. Can I create k8s cluster with one CPU master nodes and 4 slave modes with GPUs?

Thank you.

[2018-03-30 20:39] prosegay commented on #56
I'm a kubernetes/kubeadm-dind newbie. I'm running multiple nodes on osx and this (docker build -t ...) doesn't work for me. when i run kubectl run --image foo it fails on can't find "library/foo" in the pod. I found dind::copy-image and it distributed the image, but still not able to find it.

[2018-03-30 20:53] pigmej commented on #90
it's not k-d-c error. It's error from kubernetes that says you that you don't have enough free memory in the cluster (2Gi for prometheus from your example).

[2018-03-30 21:02] chlung commented on #90
@pigmej thanks.  Is possible to increase cluster memory in k-d-c?

[2018-04-04 15:59] djschny opened #104 "v1.9 - fails to start - curl: (23) Failed writing body (0 != 676)"
Linux lab-client 4.13.0-1011-gcp #15-Ubuntu SMP Mon Feb 12 16:29:04 UTC 2018 x86_64 x86_64 x86_64 GNU/Linux

[code]

[2018-04-06 18:24] pmichali opened #106 "Need to separate pod networks from dind network"
Currently ,the pod networks are subnets of the dind network. During E2E testing, we are seeing about eight tests failing, with that setup (they work fine on KubeAdm clusters where the pod networks are independent of the management network).

In investigating these failures they are where services are spun up on each minion node, and then the test tries to communicate with the service on it's port.

[2018-04-07 16:28] redr0bin commented on #86
Thanks for the info!

[2018-04-07 16:29] #86 closed

[2018-04-10 20:30] fturib opened #109 "Snapshot - Error visible in the logs"
### Description
From this PR's conversation: #57

after integration of CoreDNS option,
When taking a snapshot of the cluster, an error is visible:

[code]

### Root cause

The snapshot script is executed on the installed kube-master. It is part of the kubeadm-d-in-d image.
It tries to guess the mode DNS_SSERVICE=coredns or DNS_SERVICE=kube-dns based on the existence of the deployment of 'coredns'.

[2018-04-10 20:38] fturib opened #110 "Not able to start if the swap is enable on the host"
### Description

I have a baremetal host, from packet.io cloud, using Ubuntu LS16.04
I am unable to start kube-master properly since January 2018 (or so ... not sure the exact last time it was deploying successfully - several errors happened on the same time).

### Investigations
the script "wrapkubeadm" includes an automatic detection for setting the flag "--fail-swap-on=false" on the kubectl com

[2018-04-11 08:33] balboah commented on #77
@riuvshin how exactly? it would be awesome if someone could put in a note in the readme or somewhere

[2018-04-12 08:16] riuvshin commented on #77
@balboah I've used very basic `hostpath-provisioner`

`pod.yaml`
[code]
`pvc.yaml`
[code]
`sc.yaml`
[code]

[2018-04-12 08:53] ivan4th commented on #77
@riuvshin Thanks, that's great trick actually. One thing though, it may not survive recreating a pod (i.e. a pod from `Deployment` or `StatefulSet` may land on another node after being recreated). I'll try it later today, perhaps provisioning `hostPath` volumes somewhere under `/dind/` may help (as the dir is shared between nodes).

[2018-04-12 09:01] balboah commented on #77
that was what I was going to ask, will it work for multiple nodes? (even though docker is really only on one physical machine) :) Multi-node development is why I tested dind

[2018-04-17 14:29] leblancd opened #115 "Create branch for Kubernetes CI testing"
We would like to have a branch created off of Mirantis/k-d-c master that we will be used as a stable branch for using with Kubernetes CI testing. The goals of having a separate, stable branch are:
- The CI stable branch won't be (instantly) subject to changes introduced into master. We would rebase to master (and test) periodically/intermittently/as-needed.
- The CI stable branch would introduce a

[2018-04-17 18:09] #109 closed

[2018-04-17 18:16] ivan4th commented on #115
We can do `stable` branch for this, as well as tagging. In any case, current image build mechanism needs to be redone as it depends on Docker Cloud. This part of Docker Cloud is not going to be shut down right now IIRC, but overall I'm not very happy with the need to deal with its ui every time I update kubernetes versions etc. Travis CI has one serious drawback, if you use it in debug mode it wil

[2018-04-17 18:56] leblancd commented on #115
@ivan4th - Thanks for looking at this! Our group isn't using Travis CI nor CircleCI. Instead, we're using the standard Kubernetes test-infra Prow cluster, and we're having the Prow container/pod create a remote cluster on GCE using the gce-setup.sh script (via docker-machine). In our particular case, we're trying to test IPv6 on Kubernetes, but the test can be adapted to any test that wants to use

[2018-04-18 09:09] #106 closed

[2018-04-18 12:18] sunfmin opened #116 "[kubelet-check] The HTTP call equal to 'curl -sSL http://localhost:10255/healthz' failed with error: Get http://localhost:10255/healthz: dial tcp 127.0.0.1:10255: getsockopt: connection refused."
macOS High Sierra

[code]

[2018-04-19 06:35] golangpkg opened #117 "when update using 1.8 , node Failed to update Node Allocatable Limits "" Warning"
# kubectl get nodes
NAME          STATUS     AGE
kube-master   NotReady   17m
kube-node-1   NotReady   16m
kube-node-2   NotReady   16m

using  kubectl get events:

[code]

[2018-04-19 07:31] golangpkg commented on #117
kubectl get pods -n kube-system

`
NAME                                    READY     STATUS              RESTARTS   AGE
etcd-kube-master                        1/1       Running             1          3m
kube-apiserver-kube-master              1/1       Running             1          3m
kube-controller-manager-kube-master     1/1       Running             1          1m
kube-dns-855bdc94cb-42sd7

[2018-04-19 07:58] golangpkg commented on #117
is ok , that is Warning .

[2018-04-19 09:02] lukaszo commented on #8
We are not supporting 1.6 anymore. If issue appears on newer k8s version please open a new ticket.

[2018-04-19 09:02] #8 closed

[2018-04-19 09:04] lukaszo commented on #10
It looks like the issue is solved for now

[2018-04-19 09:04] #10 closed

[2018-04-19 09:07] lukaszo commented on #11
Doc is available here https://github.com/Mirantis/kubeadm-dind-cluster#using-with-kubernetes-source

[2018-04-19 09:07] #11 closed

[2018-04-19 17:02] lukaszo commented on #19
As stated by Ivan, k-d-c uses latest available releases

[2018-04-19 17:09] djschny commented on #19
I'm confused as to why this was closed? The following was stated as going to eventually be done:

Shouldn't this stay open until it is done?

[2018-04-19 18:43] lukaszo commented on #21
The issue with `reup` is that dashboard is scheduled on another node where image is not available. I'm not sure if we can do much about it.

[2018-04-19 18:54] lukaszo commented on #30
@pmichali did you fix all issues here?

[2018-04-19 18:57] lukaszo commented on #32
Looks like the issue is fixed

[2018-04-19 18:57] #32 closed

[2018-04-19 19:03] pmichali commented on #30
Yes, AFAIK.

[2018-04-20 08:48] lukaszo commented on #43
NodePort works just fine:
[code]

If have something else in mind please feel free to reopen the issue

[2018-04-20 08:53] lukaszo commented on #13
How exactly did you assign this external IP?

@riuvshin you can use service with type=NodePort to access app

[2018-04-20 08:53] lukaszo commented on #38
There is not

[2018-04-20 08:53] #38 closed

[2018-04-20 08:54] lukaszo commented on #39
1.8 and later versions work ok now

[2018-04-20 08:54] #39 closed

[2018-04-20 08:56] lukaszo commented on #41
@pmichali can we close this issue or is there something more to be implemented?

[2018-04-20 08:58] lukaszo commented on #45
@danehans @pmichali is this issue fixed now?

[2018-04-20 10:00] pigmej commented on #19
It should be :)

[2018-04-20 10:14] lukaszo commented on #104
Looks like a random network error. Is it still failing?

[2018-04-20 10:24] lukaszo commented on #83
Fixed in #84

[2018-04-20 10:24] #83 closed

[2018-04-20 10:28] lukaszo commented on #78
Can you give an example of how are you deploying it?

Using service with `type=NodePort` should work though.

[2018-04-20 10:29] lukaszo commented on #73
RBAC is already enabled.

If you need something more please add a description and re open the issue.

[2018-04-20 10:29] #73 closed

[2018-04-20 10:33] #30 closed

[2018-04-20 10:35] pmichali commented on #41
Yes, this has been completed some time ago.

[2018-04-20 10:36] lukaszo commented on #54
Closing as we do not support 1.6 anymore. If the issue appears on newer versions feel free ro reopen it.

[2018-04-20 10:36] #54 closed

[2018-04-20 10:36] pmichali commented on #45
Yes.

[2018-04-20 10:41] lukaszo commented on #76
According to issue which you linked it's fixed in k8s 1.8. I didn't see it in 1.8 and 1.9 so closing for now. Feel free to reopen if you still see it when using newer clusters.

[2018-04-20 10:41] #76 closed

[2018-04-20 10:46] #45 closed

[2018-04-20 10:46] #41 closed

[2018-04-20 10:56] lukaszo commented on #97
We've tried it only on circle ci and it works there

[2018-04-20 12:01] lukaszo commented on #90
@chlung dind does not set memory limits. It seems that your host machine has not enough memory

[2018-04-20 12:01] #90 closed

[2018-04-20 12:02] lukaszo commented on #74
The easiest way to access service is to use service type=NodePort

[2018-04-20 12:02] lukaszo commented on #71
The easiest way to access service is to use service type=NodePort

[2018-04-20 13:00] djschny commented on #104
Yes it will happen consistently. However I did notice it only appears to happen if the `v1.7` script is run and then a `clean` is done and then the `v1.9` script is run.

[2018-04-23 06:53] mgdevstack opened #118 "Unable to create cluster with desired flags feature-gate, k8s version, admission-control"
**What you expected to happen:**
I'm looking to setup k8s v1.10 cluster (from k8s source ) with feature-gate enabled for PriorityClass and pass enable-admission-control=...,Priority but unable to setup various flags even after setting up appropriate environment variables.

1. Able to pass --feature-gate, runtime-config, admission-control parameters to api-server
2. Able to pass --kubernetes-versio

[2018-04-23 07:14] mgdevstack commented on #118
kubelet and control-plane version mismatch warning seems to be due to [kubeadm.conf.tmpl#L8](https://github.com/Mirantis/kubeadm-dind-cluster/blob/master/image/kubeadm.conf.tmpl#L8)

[2018-04-23 20:50] ivan4th commented on #115
Sorry for delay, there was some breakage after the changes related to IPv6. k8s-1.10 branch is obsolete right now... Does current master effba5c772c08db01d5722618d7b323a0f45702d suit you for the stable branch? There's a new problem found, #110, that will be fixed soon, but it shouldn't affect you if you're not  using swap.

[2018-04-23 21:10] leblancd commented on #115
Yes, current master should work for us, thanks! Re. swap, we usually manually disable that on our local hosts, and I'm pretty sure that GCE instances have swaps disabled.
Is there an easy way to solve the 2nd bullet in the description above? I don't know if I explained it well, but we had been using the k8s-1.10 branch and the corresponding k8s-1.10 DinD node image for CI. For the k8s-1.10 DinD no

[2018-04-24 10:12] ivan4th commented on #115
Yes, I think we can add `stable` script in fixed/ directory with `EMBEDDED_CONFIG=y;DIND_IMAGE=mirantis/kubeadm-dind-cluster:stable` in it, but perhaps it should only be updated on master when `stable` branch changes, so as to avoid confusion (newer dind script may not work with older image). So, I'm creating the `stable` branch then and adding this script?

[2018-04-24 11:45] phcollignon commented on #116
Same issue with dind-cluster-v1.10.sh on Ubuntu 16.04 ..
dind-cluster-v1.9.sh is working on the same machine.
Docker version is 1.18.03

[2018-04-24 13:12] #110 closed

[2018-04-24 14:16] rpothier commented on #115
That would be great! What is the process if we needed to update the mirantis/kubeadm-dind-cluster:stable image?

[2018-04-24 14:38] ivan4th commented on #115
I think I'll add option `-stable` to `build/genfixed.sh` that will fetch `dind-cluster.sh` script from stable branch, patch it to use `mirantis/kubeadm-dind-cluster:stable` image and write as `fixed/dind-cluster-stable.sh`. We can then update it on master every time `stable` branch is updated.

[2018-04-24 14:58] ivan4th commented on #115
The best solution would be to get rid of `fixed/` altogether, packing almost all of kdc inside the image and leaving a very simple wrapper script to run kdc that would just start a container using dind image, like `docker run --rm --privileged --pid=host mirantis/kubeadm-dind-cluster:...` The container then would use nsenter to locate the docker socket (just mounting it via `-v` will not work on M

[2018-04-24 15:01] jevin36 opened #119 "How to use insecure registries"
Hi can you give me an example how I can configure the use of insecure registries?
Regards

[2018-04-24 15:12] pigmej commented on #119
@jevin36 just set `DIND_INSECURE_REGISTRIES="[\"0.0.0.0/0\"]"` as env variable for example
it's json list so any configuration from https://docs.docker.com/registry/insecure/ will work

[2018-04-24 15:57] rpothier commented on #115
Yes, I think what was in the prev comment will do for now, thanks.

[2018-04-24 19:42] pigmej commented on #119
`dind::init` is called from `dind::up`. How do you actually set the variable? Have you exported it?

[2018-04-24 20:26] leblancd commented on #115
@ivan4th Your previous comment seems like it might work for us, but one concern that I have is that we're using the gce-startup.sh script instead of using e.g. dind-cluster-stable.sh directly (our test run on GCE instances). Would we need a separate gce-startup-stable.sh script, or would there be a way to have the standard gce-startup.sh script call into dind-cluster-stable.sh?
Also, I like your s

[2018-04-24 21:34] pigmej commented on #116
Could you please check again? There was swap related issue ( https://github.com/Mirantis/kubeadm-dind-cluster/issues/110 ) it’s fixed now.

[2018-04-25 12:18] phcollignon commented on #77
I was able to run it on multi node with a small hack ... sharing a volume between all nodes :

 # Start the new container.
  docker run \
	 -e IP_MODE="${IP_MODE}" \
         -e KUBEADM_SOURCE="${KUBEADM_SOURCE}" \
         -e HYPERKUBE_SOURCE="${HYPERKUBE_SOURCE}" \
         -d --privileged \
         --net kubeadm-dind-net \
         --name "${container_name}" \
         --hostname "${container_

[2018-04-26 06:11] jevin36 commented on #119
Hi @pigmej ,
yes I did. I don't see that "init" is called from "up", so I temporary added static invocations
    dind::custom-docker-opts kube-master
    dind::custom-docker-opts kube-node-1
    dind::custom-docker-opts kube-node-2

to the "up" method. Then it works.

[2018-04-26 06:40] pigmej commented on #119
https://github.com/Mirantis/kubeadm-dind-cluster/blob/master/dind-cluster.sh#L970

There is the invocation of `dind::init` in `dind::up`

[2018-04-27 06:58] phcollignon commented on #116
I tested and can confirm that it works now. Thanks.

[2018-04-27 07:01] phcollignon opened #120 "Keep cluster state"
Is there any way to keep cluster state between dind::down and dind::up
Every time I dind::down I loose all my deployments and pods ..
I know this is related to docker but is there a way to create a volume to keep etcd config persistent (binding it to the host) ?

[2018-04-28 19:43] phcollignon commented on #119
I tested by setting the DIND_INSECURE_REGISTRIES with dind-cluser-v1.9.sh and it worked out of the box.
I just had to clean all to recreate new images.

[2018-05-03 10:33] pigmej commented on #119
@jevin36 any update from your side?

[2018-05-03 13:45] pigmej commented on #94
@rc452860 I'm closing it now, feel free to reopen if it's still the case.

[2018-05-03 13:45] #94 closed

[2018-05-07 20:51] mayrbenjamin92 commented on #104
I have the same issue running ``v1.9``:

* Making sure DIND image is up to date
v1.9: Pulling from mirantis/kubeadm-dind-cluster
952132ac251a: Pull complete
82659f8f1b76: Pull complete
c19118ca682d: Pull complete
8296858250fe: Pull complete
24e0251a0e2c: Pull complete
2545d638d973: Pull complete
e0b45d7ea196: Pull complete
8d7d40f3e602: Pull complete
216f5a138844: Pull complete
c71de27d6b60: Pull

[2018-05-07 21:39] mikeburon opened #122 "persistent volumes doesn't work"
Persistent volumes in local doesn't work

[2018-05-07 23:04] ivan4th commented on #115
Hi, I've added the new fixed script here: https://github.com/Mirantis/kubeadm-dind-cluster/blob/stable-fixed-version/fixed/dind-cluster-stable.sh
It uses `mirantis/virtlet:stable` image built from this branch: https://github.com/Mirantis/kubeadm-dind-cluster/tree/stable
Please confirm that this is what you need and I'll merge this new fixed script into master.

As of `-v /var/run/docker.sock:/var/

[2018-05-08 16:33] diafour commented on #56
It would be great to serve a registry from local `/var/lib/docker` but can't find such a solution.

So a simple workaround:

1. Run registry in docker on your host:
[code]

Now localhost:5000 is a registry url.

[code]

2. Run a proxy to forward each node's localhost:5000 to host's :5000 with a simple script:
[code]
docs: https://hub.docker.com/r/tecnativa/tcp-proxy/

3. Test it:

[code]

The tric

[2018-05-08 19:34] leblancd commented on #115
@ivan4th - Thanks! I'd like to test this with our CI tests (will try this Thursday, if that's okay), but from a brief look at the script, it appears that it will do what we need!

[2018-05-10 16:09] leblancd commented on #115
@ivan4th - I haven't tested the new script yet in our CI environment. However, one thing to note is that our CI creates K8s clusters on GCE using the gce-setup.sh script. So to used the new 'dind-cluster-stable.sh' script in our setup, we would have to either:
(a) (Short term) Add a modified version of the gce-setup.sh script to our CI script that does everything gce-setup.sh does, except that at

[2018-05-11 20:04] rpothier commented on #115
@leblancd @ivan4th For gce-setup, how about  we create a config file called config-stable.sh
and put in in the fixed directory in the stable-fixed-version branch.
In that file we set the env variables for the CI environment.
In the CI scripts, we set EMBEDDED_CONFIG=y,
and run "cp fixed\config-stable.sh config.sh" before calling gce-setup.sh
We can then remove DIND_IMAGE and a few other env variab

[2018-05-14 19:56] rpothier commented on #115
For the above comment, I pushed up the changes for review.
https://github.com/Mirantis/kubeadm-dind-cluster/pull/123

[2018-05-18 11:31] snedi opened #124 "installation returns "Failed to request cluster info" on the preflight checks stage"
[code]

[2018-05-18 14:33] jaggerwang opened #125 "Can I change image url to download from a mirror or internal private repository?"
It's very slow to download images of kubernets in China. All images need are as follows.

[code]

I  already using a proxy to download all images to my laptop, and I want to push these images to our internal private repository to share with other guys. The images in our repository will have a different url prefix, but I can't change the image url in `dind-cluster-v1.10.sh`.

The only way I found o

[2018-05-19 06:14] mail2fish opened #126 "Error bringing up kube-dns and kubernetes-dashboard"
The error message like this.

* Bringing up kube-dns and kubernetes-dashboard
deployment "kube-dns" scaled
deployment "kubernetes-dashboard" scaled
............................................................................................................................................................................
...........................
Error bringing up kube-dns and kubernetes-dashboard

[2018-05-21 12:02] pmichali opened #127 "IPv6: kube-dns restarts during E2E tests"
As mentioned in https://github.com/kubernetes/kubernetes/issues/63922, kube-dns (and coredns) was restarting during E2E tests, when running on an IPv6 cluster. These restarts would sometimes cause test failures, as kube-dns would not be ready, causing a pre-test timeout/failure.

Found that increasing the MTU used, would resolve the issue, which applies to any environment (k-d-c or bare-metal).

W

[2018-05-22 09:26] #115 closed

[2018-05-22 17:16] imriss commented on #124
@snedi Are you passing a custom number of nodes using `NUM_NODES=`? Thanks

[2018-05-22 17:56] pmichali commented on #127
On bare-metal, tried using MTU 9000 for interfaces used for the pod and management networks. Ran E2E tests for IPv6, and they all passed (6 times) without any kube-dns restarts.

Under kubeadm-dind-cluster environment, which is going to be used to run IPv6 E2E tests for CI, this MTU change, in and of itself, did NOT resolve the issue. If I turn off hairpin mode (which breaks the node-service UDP a

[2018-05-22 17:57] snedi commented on #124
@imriss actually I increased memory on my VM and this issue disappeared. As for the question no I didn't pass the number of nodes.

[2018-05-24 11:17] entropyie commented on #126
I am also seeing this issue.
If I do a `docker images` inside the kube-master, I can see multiple images including kube-dns of version 1.14.5 are **not** present (other images are, such as kube-dns 1.7). If I connect the Host OS to the internet they can be downloaded externally, but I would very much prefer not to do that.

Host OS Docker Server version 1.13.1
I am also running Centos 7.

[2018-05-24 22:18] imriss commented on #124
@snedi thanks. It could also happen if an odd number is passed via `NUM_NODES`.

[2018-05-25 10:01] ivan4th commented on #126
Could you please do `./dind-cluster-....sh dump` in this state and post the result?

[2018-05-25 10:03] ivan4th commented on #124
@imriss you mean it's reproducible with an odd number of nodes?

[2018-05-26 19:11] imriss commented on #124
@ivan4th yes, it was like that a few days before when I was using `NUM_NODES=3`. There issue disappeared when I let the default value be used. However, I cannot reproduce it anymore today.

[2018-05-27 09:29] pigmej commented on #124
I am usually using k-d-c with 3 nodes and never had such problem. So not sure if it’s because of odd node number.

[2018-05-28 13:14] entropyie commented on #126
@ivan4th I have since moved from building k8s 1.8.x to 1.10.x and no longer see this particular issue (sorry, I don't have time to switch back to 1.8 now).
I imagine the dns/dashboard yaml files pointed to in the 1.8 script are not tagged to 1.8 and are pulling in newer dependencies.

Since moving to 1.10 the images are present but there are other problems which I will discuss separately :)

[2018-05-28 13:18] entropyie opened #129 "Local build is failing due to missing gcr.io image"
Hi, I am building locally due to an issue with Centos 7: https://github.com/kubernetes/kubernetes/issues/43704 that breaks the pre-built images.

However I can't build locally because some needed container images appear to be unavailable:

[code]

Can you restore
`gcr.io/kubeadm/ci-xenial-systemd:base-master-6f6ae74260bfa1b6d97251e6e0191489aeff0939`
or update the script to pull a currently availab

[2018-05-28 14:14] jaggerwang commented on #125
Thanks! I finally resolve this problem by set proxy for the system wide. Just prepare images is not enough, It will check new images when start up.

[2018-05-28 14:14] #125 closed

[2018-05-29 10:59] pmichali commented on #127
Found root cause, and it is not MTU. Turns out that MAC of dind0 bridge is changing during the test runs. Found that if MAC is not set explicitly, then it will get the lowest numbered MAC of all enslaved interfaces. It appears that, if an new enslaved interface is added to the bridge, with a lower MAC, the MAC of the bridge will get the new value. This messes with the TCP communication to kube-dns

[2018-05-29 19:27] ivan4th commented on #129
Hi, the fix is currently in `fix-base-image` branch: https://github.com/kubernetes-sigs/kubeadm-dind-cluster/tree/fix-base-image
I'll merge it to master once I have CI issues sorted out after the repo was moved (CircleCI is not enabled for `kubernetes-sigs` org)

[2018-05-29 19:29] ivan4th commented on #126
@mail2fish do you still have the issue? If so, could you please dump the cluster state `./dind-cluster-....sh dump` and post the result?

[2018-05-29 19:30] ivan4th commented on #124
Closing for now. Please let me know if you can reproduce it again.

[2018-05-29 19:30] #124 closed

[2018-05-31 14:18] jessfraz opened #133 "Create a SECURITY_CONTACTS file."
As per the email sent to kubernetes-dev[1], please create a SECURITY_CONTACTS
file.

The template for the file can be found in the kubernetes-template repository[2].
A description for the file is in the steering-committee docs[3], you might need
to search that page for "Security Contacts".

Please feel free to ping me on the PR when you make it, otherwise I will see when
you close this issue. :)

[2018-05-31 23:07] stefanmb opened #134 "v1.10.3 API Server Stuck in Restart Loop"
I'm evaluating `kubeadm-dind-cluster` for use in a CI system. The preconfigured scripts for 1.8 and 1.9 work ok, but 1.10 does not.

The API server is constantly restarting, here is an example of the logs:

[code]

This repeats pretty much once per second making everything unusable.

Has anyone else seen this behaviour with 1.10?

Any suggestions for how to debug further?

I'm simply using the ins

[2018-06-01 03:51] mail2fish commented on #126
@ivan4th Hi, I still got that problem. The dump file is so big, so I compress it by gzip.

[dnd_dump.txt.gz](https://github.com/kubernetes-sigs/kubeadm-dind-cluster/files/2060923/dnd_dump.txt.gz)

[2018-06-04 10:41] twKrash opened #136 "dind-cluster-stable.sh is not working locally"
[code]

OS: Mac OSX

[2018-06-05 15:48] wallrj opened #137 "copy-image fails for image names that contain a repository component"
For example:

[code]
Problem is in line:
https://github.com/kubernetes-sigs/kubeadm-dind-cluster/blob/0208e310af0dd18f8b2711dc87f929e5f0f03e90/fixed/dind-cluster-v1.9.sh#L1216

The parameter expansion should be `local image_path="/tmp/save_${image//\//_}"` so as to replace *all* `/` with `_`, rather than only the first.

[2018-06-05 16:42] wallrj opened #139 "Unable to enable PersistentLocalVolumes"
I want to use PersistentLocalVolumes in a kubeadm-dind-cluster, but there doesn't seem to be a way to add the necessary `--feature-gates=PersistentLocalVolumes=true` argument to the API server, scheduler and controller manager.

Additionally, when I hack the main script to use a custom `kubeadm.conf.tmpl` file, I then run into a problem where the `wrapkubeadm` script drops and replaces the `--feat

[2018-06-06 13:14] mduft opened #140 "access API server from within cluster"
Hey,

Not sure whether this is an issue, or just my lacking knowledge :)

I would like to access the kubernetes API server from within the cluster. According to the kubernetes docs, this should work by accessing kubernetes.default.svc.

I tried with default network and CNI_PLUGIN=calico-kdd, both to no avail.

I basically started a cluster (1.9) and run: `kubectl run -it --rm --image=busybox busyb

[2018-06-06 22:39] ivan4th opened #141 "Kubernetes master build broken"
The CI is currently blocked by failing k8s master builds
(checked locally for k8s commit 7a9c05bd68a98dbe3f5c8cced7de54e490540932 for example)

The problem is described in kubernetes/kubeadm#853 temporarily fixed by applying a patch to Kubernetes source which can no longer be applied.

Seems like `kubernetesVersion` in kubeadm config is the actual culprit.

[2018-06-07 08:58] #141 closed

[2018-06-07 09:09] #137 closed

[2018-06-07 12:02] ivan4th commented on #140
You can't ping service IPs, that's how kube-proxy works. You can use curl with them, e.g. (from a busybox pod):
[code]

For accessing Kubernetes API from the cluster, see [here](https://medium.com/@pczarkowski/the-kubernetes-api-call-is-coming-from-inside-the-cluster-f1a115bd2066), for example.

[2018-06-07 12:02] #140 closed

[2018-06-07 12:04] ivan4th commented on #139
For now kubelet config is a bit hacky, will it suit you if I just always enable this feature gate when k8s version supports it?

[2018-06-07 12:04] ivan4th commented on #136
I'll be updating stable branch shortly, it broke after moving the repo. Sorry for the inconvenience.

[2018-06-07 12:05] ivan4th commented on #129
Fixed by #130

[2018-06-07 12:05] #129 closed

[2018-06-07 12:15] ivan4th commented on #126
This is indeed very strange... The dump shows both kube-dns and kubernetes-dashboard to be running correctly. Could you please execute the following commands immediately after trying to start the cluster:
[code]

and paste the output?

[2018-06-07 12:16] ivan4th commented on #122
Do you mean local persistent volumes? I.e. same as in #139

[2018-06-07 12:16] ivan4th commented on #120
I'm planning to add general-purpose cluster snapshots, but they're not here yet.

[2018-06-07 12:47] #133 closed

[2018-06-07 13:42] wallrj commented on #139
That'd be good.
Or else `--feature-gates=AllAlpha=true` which should enable all available features on all versions.
That might also help resolve #118, #122

[2018-06-07 19:36] gregwebs opened #145 "hostPath type check failed: /etc/localtime is not a file"
Is volume mounting fully supported? The same helm chart that worked with minikube is failing with dind.

I did remove the symlink and put the actual file there. Additionally, I tried mounting /etc and mounting the  file as a subpath (gives "not a directory" from docker when it tries to start the container).

[2018-06-07 19:45] stantonxu opened #146 "kubeadm failed after switch to docker edge and failed after switch to docker CE on mac"
macOS: 10.12.4
Docker CE for Mac: 18.03.1-ce
Docker Edge CE for Mac: 18.05.0-ce

Ran `dind-cluster-v1.10.sh up` was ok on Docker CE. After I switched to Docker Edge CE, it started to have below problem `kubeadm failed`. After I switched back to Docker CE, problem remains.

[code]

[2018-06-07 22:50] stantonxu commented on #146
Problem exists even I do the following,

`dind-cluster-v1.10.sh clean`
`docker system prune`
`rm -rf $HOME/.kubeadm-dind-cluester/*`
`rm -rf $HOME/.kube`

[2018-06-08 02:42] mail2fish commented on #126
kubectl get pod -l k8s-app=kube-dns -n kube-system
NAME                        READY     STATUS    RESTARTS   AGE
kube-dns-855bdc94cb-5kn98   3/3       Running   0          8m

--------------------------

kubectl get pod -l k8s-app=kube-dns -n kube-system -o jsonpath='{ .items[*].status.conditions[?(@.type == "Ready")].status }'
True

--------------------------

kubectl get pod -l app=kubernetes-d

[2018-06-08 10:37] ivan4th commented on #126
Could you please do `kubectl describe pod` on the `kubernetes-dashboard` pod:
[code]
There's likely a problem communicating with `gcr.io` docker registry, although I wonder why other images were pulled successfully

[2018-06-08 10:46] ivan4th commented on #146
Please re-download your `dind-cluster-v1.10.sh` script. I had to make some changes to make it work for Kubernetes master and the older scripts became incompatible with the current image. Sorry for the inconvenience, a bit later I'll try to move everything inside a "seed container" leaving only thin wrapper script that will need to be downloaded, so there'll be no more such problems with image/scri

[2018-06-08 13:09] #127 closed

[2018-06-08 13:14] pmichali opened #147 "IPv6: Allow AAAA records to be used..."
As currently configured, the IPv6 cluster created will always use A records for DNS lookups. As a result, accessing external sites that support IPv6 addresses, DNS will discard the (IPv6) AAAA record and use the (IPv4) A record, creating a synthesized IPv6 address. All access to that site will then use NAT64.

A performance enhancement, for environments that have IPv6 access to the outside, we can

[2018-06-08 13:14] pmichali commented on #147
/assign

[2018-06-08 16:52] stantonxu commented on #146
Thanks @ivan4th . After downloading the new script, it works. I am going to close the issue.

By the way, so you make change on the master image, which caused the script incompatible?

[2018-06-08 16:52] #146 closed

[2018-06-10 21:10] gregwebs commented on #145
This worked fine on a [fork](https://github.com/pingcap/kubeadm-dind-cluster/issues/145). I will close this out since I am not looking into fixing it anymore.

[2018-06-10 21:10] #145 closed

[2018-06-11 01:33] mail2fish commented on #126
Name:         kubernetes-dashboard-6b5bdcfbc6-zsskj
Namespace:    kube-system
Node:         kube-node-1/10.192.0.3
Start Time:   Mon, 11 Jun 2018 09:20:28 +0800
Labels:       app=kubernetes-dashboard
              pod-template-hash=2616879672
Annotations:  kubernetes.io/created-by={"kind":"SerializedReference","apiVersion":"v1","reference":{"kind":"ReplicaSet","namespace":"kube-system","name":"kub

[2018-06-11 20:11] ivan4th commented on #126
That's the culprit:
```Get https://gcr.io/v1/_ping: dial tcp 108.177.125.82:443: i/o timeout```

Does `docker pull gcr.io/google_containers/kubernetes-dashboard-amd64:v1.6.0` work on your system? If you have a proxy server that might help, try setting `DIND_HTTPS_PROXY=http://...` (specify that server)

[2018-06-12 01:28] mail2fish commented on #126
Yes! After I pulled kubernetes-dashboard-amd64:v1.6.0  manually and up the cluster again, the cluster start successfully.

Thanks @ivan4th. That's so cool.

[2018-06-12 10:00] ivan4th commented on #126
You're welcome. It looks like you have intermittent connectivity issues with some of Google IPs, though. So if the problem repeats, pls try proxy / VPN, I suspect it may have to deal with some of Google IPs being blocked in China. Closing the issue for now.

[2018-06-12 10:00] #126 closed

[2018-06-12 12:11] ivan4th commented on #139
I've managed to test local PVs / PVCs successfully with `dind-cluster-v1.10.sh` (local PVs are beta in k8s 1.10, so no need for feature gates).

I've used the following YAML:
[code]

Tested it like this:
[code]
Frankly I'm not quite sure we should add local PV support for k8s 1.9 and earlier, or do you really need it?

[2018-06-12 12:55] wallrj commented on #139
We're still testing https://github.com/jetstack/navigator against Kubernetes 1.7 and we'd like to use dind-cluster rather than minikube, so we do need it.

It'd be great if there was a general mechanism to enable feature gates for each of the k8s components, not just for local PVs.

[2018-06-14 12:40] #147 closed

[2018-06-15 03:06] everpeace commented on #118
I really really love this feature 👍

[2018-06-20 14:33] everpeace commented on #118
I think https://github.com/kubernetes-sigs/kubeadm-dind-cluster/pull/149 fixed this issue.

@mgdevstack could you try `master` branch again??

if the pr is what you expected,   could you close this issue? 🙇

[2018-06-20 14:36] everpeace commented on #139
I think https://github.com/kubernetes-sigs/kubeadm-dind-cluster/pull/149 fixed this issue. you can customize `feature-gates`.

@wallrj  could you try `master` branch again??

if the pr is what you expected,   could you close this issue? 🙇

[2018-06-20 14:40] everpeace commented on #49
@danehans

I think https://github.com/kubernetes-sigs/kubeadm-dind-cluster/pull/149 partially fixed the issue.

#149 supports generic extra args for `kube-apiserver`, `kube-controller-manager` and `kube-scheduler`.

Do you want the feature to any other components??  I would be glad if I can hear from your specific use case 🙇

[2018-06-20 20:07] johnbyrneio opened #153 "Issue starting cluster: Failed to connect to bus: No such file or directory"
I've been seeing this issue for a while now. When I run `dind-cluster-v1.9.sh up` it almost always fails the first time. If I run the command a second time, it always runs successfully.

This is on Ubuntu 16.04.4 LTS with Docker 1.13.1 installed from Ubuntu's repo.

[code]
I isolated it to this portion of the script. If I add a sleep between the first two `docker exec` commands, the script works t

[2018-06-22 16:46] ivan4th commented on #153
Thanks for spotting this race condition. I'll try to fix it & then kindly ask you to test the PR because I can't reproduce the problem in my env.

[2018-06-25 17:21] johnbyrneio commented on #153
Sounds good. I'm happy to test when you're ready. Thanks.

[2018-06-27 04:27] bleachzk opened #154 "dashboard deloy error"

[2018-06-27 10:06] henres opened #155 "Older version"
Hello,

Is it possible to add older version like 1.5 ? Our actual production is on 1.5. And i would like to have the possibilty for dev and test purpose to use your script with 1.5 version.

Hope this is possible.

Thanks

[2018-06-27 10:40] Richie765 opened #156 "Deploying Rook or Longhorn doesn't work"
I can't get Rook and Longhorn working. Is there some kind of limitation or setting? Here's what I did:

**Rook**

* Installed cluster with `./dind-cluster-v1.10.sh up`
* Followed the quickstart here https://rook.io/docs/rook/master/quickstart.html
* Then setup for block storage here: https://rook.io/docs/rook/master/block.html

All the Rook pods are running. The pvc's are all bound but they won't

[2018-06-27 11:47] imriss commented on #139
This example uses `kubeadm-dind-cluster` with local persistent volume on the host: [p1-local-persistent-volume-host](https://github.com/imriss/kubernetes_factory/tree/master/p1-local-persistent-volume-host)

[2018-06-27 11:48] imriss commented on #122
This example uses `kubeadm-dind-cluster` with local persistent volume on the host: [p1-local-persistent-volume-host](https://github.com/imriss/kubernetes_factory/tree/master/p1-local-persistent-volume-host)

[2018-06-28 05:46] stantonxu commented on #43
@lukaszo , I see you commented on couple issues to suggest NodePort to expose service. However, it doesn't work for me.

[code]

the curl never returns.

[2018-07-01 22:25] wudongyin opened #157 ""./dind-cluster-v1.8.sh up" failed on windows 10"
$ ./dind-cluster-v1.8.sh up
* Making sure DIND image is up to date
v1.8: Pulling from mirantis/kubeadm-dind-cluster
Digest: sha256:cc354cea2ed80ff57aa61ee5f78baf9a28192f7ed52b83fcce9eb956aac3d07b
Status: Image is up to date for mirantis/kubeadm-dind-cluster:v1.8
/c/Users/xxx/.kubeadm-dind-cluster/kubectl-v1.8.11: OK
* Starting DIND container: kube-master
C:\Program Files\Docker\Docker\Resources\bi

[2018-07-02 11:34] ivan4th commented on #157
Unfortunately I don't have access to a Windows machine right now, but could you please
change this line https://github.com/kubernetes-sigs/kubeadm-dind-cluster/blob/master/fixed/dind-cluster-v1.10.sh#L38
to `using_linuxkit=1` and see if it helps? Thanks!

[2018-07-03 07:10] mgdevstack commented on #118
@ivan4th is working on to fix above cluster startup issue https://github.com/kubernetes-sigs/kubeadm-dind-cluster/issues/136. So closing this issue.

[2018-07-03 07:10] #118 closed

[2018-07-03 07:13] mgdevstack commented on #136
@ivan4th, Thanks for picking it up to fix. Is this fix in progress because I'm not able to launch cluster too. REF: https://github.com/kubernetes-sigs/kubeadm-dind-cluster/issues/118#issuecomment-401803324

[2018-07-10 16:37] pmichali opened #158 "Add support for IPVS CNI plugin"
IPVS has gone GA in 1.11 and there is a push to make this replace kube-proxy.  Currently, it only supports IPv4, but work is in progress for IPv6.

I'll push up a PR for this, soon.

[2018-07-10 16:38] pmichali commented on #158
/assign

[2018-07-11 12:04] antoine-morisseau opened #160 "Error from image kubeadm-dind-cluster:v1.10 bind mount failed: `/boot` does not exists"
Hello, i have an issue where docker can't start the container due to a missing folder.
I use a Synology NAS with docker on it (`docker version 17.05.0-ce`)
the issue is it's a customized unix system based on BSD. It does not have a /boot folder.

I wanted to understand why and where this boot folder i used.

[2018-07-11 19:59] muellert opened #162 "can't install on Debian/Buster (amd64)"
Hi,
I just grabbed this repo and ran the top-level script like this:

    # ./dind-cluster.sh up

But the installation was aborted. Below, I have pasted the output of this - actually, after re-running the script with 'set -x' near the top inserted and some private information sanitized. I have docker-ce 18.05.0~ce~3-0~debian and no other images or containers in the system.

Here's the log:

++ una

[2018-07-11 22:55] wudongyin commented on #157
@ivan4th Thank you for your help.
I downloaded the V1.10.sh, modified line 38, and run the file.
Here is the result:
$ ./dind-cluster-v1.10.sh up
* Making sure DIND image is up to date
v1.10: Pulling from mirantis/kubeadm-dind-cluster
d2519f41f710: Already exists
8bedb40dd1fe: Already exists
e6792642eea7: Already exists
949bd49c5dfa: Already exists
1393d505ac52: Already exists
6c4966f8ef53: Alread

[2018-07-12 02:56] krmayankk opened #163 "kubeadm-dind-cluster fails with error --skip-preflight-checks has been deprecated"
[code]

[2018-07-12 03:13] krmayankk commented on #163
when i try to migrate the config i get an error. This is failing on the master branch

[code]

[2018-07-12 15:57] luxas commented on #163
Then you have some kind of YAML syntax error in your code.

Also, use the new ignore-preflight-errors flag instead

[2018-07-12 19:23] krmayankk commented on #163
@luxas  i havent made any changes to this file and its complaining here. https://github.com/kubernetes-sigs/kubeadm-dind-cluster/blob/master/image/kubeadm.conf.tmpl#L11

I dont know much about this tool except that i was using it to test my local kubelet changes for a PR that i am blocked on.  It was working 2 weeks back.
Here is the full dump i get ,if that helps
[code]

[2018-07-13 02:55] krmayankk commented on #163
the file https://github.com/kubernetes-sigs/kubeadm-dind-cluster/blob/master/image/kubeadm.conf.tmpl#L5 is v1alpha1 but the latest kubeadm only supports
[code]

[2018-07-13 03:18] josdotso opened #164 "Can we get open-iscsi installed by default?"
Related: https://github.com/kubernetes-sigs/kubeadm-dind-cluster/issues/156

These software-replicated storage solutions rely on open-iscsi:
- https://github.com/rancher/longhorn
- https://github.com/openebs/openebs

[2018-07-13 13:54] josdotso commented on #164
Actually, upon closer inspection, it appears open-iscsi won't work very well inside a non `--net=host` container.  I read that it relies on kernel modules where alternatives like [tgt](https://wiki.archlinux.org/index.php/TGT_iSCSI_Target) apparently do not.

Trying out tgt today and will post back here the result.

[2018-07-13 16:54] josdotso commented on #164
I have both open-iscsi and tgt install and started.  journalctl shows that the break in the chain seems to be networking:

[code]

[2018-07-13 20:41] josdotso commented on #164
Still interested in these being installed, after going further down the rabbit hole.

Latest thoughts are here (and comments below it): https://github.com/rancher/longhorn/issues/112#issuecomment-404946589

[2018-07-13 20:42] josdotso commented on #156
@Richie765  I think I got to the root of the issues you faced.  See the associated GitHub issues above for details.  Please let me know if you get this working!

[2018-07-20 14:22] #158 closed

[2018-07-20 15:53] pmichali opened #168 "Create CI tests for new kube-router plugin"
With the upstreaming of PR #159, kubeadm-dind-cluster now supports kube-router as a networking choice (for IPv4 mode).

Should revise the CI tests to run with CNI_PLUGIN=kube-router selected, to prevent regressions and verify operation.

[2018-07-23 09:14] drake7707 opened #169 "dind::run does not pass --dns"
I couldn't get it to work at first because the DNS was not available for the inner docker to pull the necessary images of kubernetes.

After 'docker exec'-ing into the container and manually adding 8.8.8.8 to the /etc/resolv.conf I could pull the image.

I went through the script and noticed that the container started in dind::run does not pass any `--dns ${REMOTE_DNS64_V4SERVER} --dns ${dns_serve

[2018-07-23 12:30] drake7707 opened #170 "Creating a large number of nodes specifies an invalid ip address"
If you call `dind::create-node-container 999` you'll end up with a 10.192.0.1001 ip address:

[code]

[2018-07-23 12:45] drake7707 opened #171 "Join command is broken"
In join the dind::create-node-container is called without arguments but at the top of create-node-container there is a check for reusing the volume based on `$1`. This should be `${1:-}`

[2018-07-24 14:42] k82cn opened #173 "How to enable more Admission Controller?"
In [kube-arbitrator](https://github.com/kubernetes-incubator/kube-arbitrator), we're using dind to do the test; and some case dependent on `Priority` admission controller. But it's not enabled by default, how to enable it?

[2018-07-24 17:01] pmichali opened #174 "IPv6: Make support subnet configurable"
Currently, the support network is hard-coded and can conflict with tools like Prow. Goal is to make this configurable.

[2018-07-24 18:13] pmichali commented on #174
Will push up a PR soon for this.

[2018-07-24 22:44] k82cn commented on #173
@lukaszo , any comments ?

[2018-07-25 11:44] NRaoV commented on #72
Yes. It occurs when you change the port from 8080 to 8085

[2018-07-26 08:13] LiamHe opened #176 "Upgrade weave-net CNI_Plugin version to Fix Network Policy Support."
`dind-cluster-v1.11.sh` uses [weave-daemonset-k8s-1.6.yaml](https://github.com/weaveworks/weave/blob/master/prog/weave-kube/weave-daemonset-k8s-1.6.yaml) where `ClusterRole` weave-net has rule in `extension` APIGroup to access network policy resources.

However, it will cause problem, see [here](https://github.com/weaveworks/weave/issues/3304). If we see the logs of weave-net-npc container, we wil

[2018-07-26 08:34] liufuyang opened #177 "High CPU consumption?"
I simply used the wget script to start the cluster on mac.

Then I noticed that from the activity monitor or docker stats that the CPU usage seems pretty high for an pure empty cluster (with k8s inside of course), especially for the master node the cpu usage is
jumping from 20% to 50%

![image](https://user-images.githubusercontent.com/161689/43251028-1cf94dd0-90bf-11e8-98c0-86069d51e86c.png)

Wou

[2018-07-26 17:12] #174 closed

[2018-07-26 17:16] pmichali opened #178 "IPv6: Integrate Tayga (NAT64) into k-d-c repo"
For IPv6 clusters, a NAT64 container (Tayga) is used from a private repo. As a step to remove that dependency, we should include the Dockerfile, a makefile to build, and documentation on how to use this container. This would allow customization (expected to be rare), and remove the dependency.

Dane Leblanc will submit a similar issue for DNS64 container (bind9), as he needs to customize it for us

[2018-07-26 17:20] pmichali opened #179 "IPv6: make registry selection configurable for NAT64 and DNS64 containers"
Currently, the dind-cluster.sh script is hard-coded to use a specific external registry for the NAT64 (Tayga) and DNS64 (bind9) containers.

It would be useful to allow this to be configurable, so that a different registry (e.g. local or k-d-c based) to be used. The default could point to the existing external registries being used.

This goes along with issue #178 (and a forthcoming one for DNS64

[2018-07-26 17:23] pmichali opened #180 "Documenting environment variables used"
It would be useful for developers and users, to have a document that indicates all the environment variables used by k-d-c, with a description of each and their default value.

As an added perk, it would be great to rename each of the environment variables to have a common prefix (e.g. KDC_) for easier searching in the code, and filtering current environment settings.

[2018-07-27 19:03] pmichali opened #181 "IPv6: kubectl broken, when no ~/.kube/config with use-context"
Found an issue that, when I clear ~/.kube/config and then bring up the cluster in IPv6 mode, the cluster comes up fine, but unable to access via kubectl.

This is because, the context is set, but is not "in use". As a result, kubectl try to access API at localhost:8080, which doesn't work for IPv6 (It should be master node IP or ::1). If there is a ~/.kube/config with use-context: "dind" line, the

[2018-07-27 19:19] pmichali opened #182 "IPv6: k-d-c CI needed for IPv6 mode..."
Given the several regressions we've seen in IPv6 mode lately, it would be great to have CI tests to check regressions in IPv6 mode operation. Testing should cover things like:

- bridge CNI plugin mode.
- kube-proxy with IPVS.
- (future) PTP CNI plugin mode.
- Accessing remote systems using NAT64, for both systems that support IPv6 and IPv4
- When allowing AAAA use (direct access to external IPv6

[2018-07-28 04:31] aledbf commented on #29
Is Anyone working on this?

[2018-07-28 19:13] aledbf opened #183 "Question: Is it possible to change some kubelet flags?"

[2018-07-30 07:41] drake7707 commented on #183
If you add

[code]
in the dind::run function and add `KUBELET_EXTRA_ARGS=your_extra_flags_here` in the config.sh it should use the flags specified.

[2018-07-30 15:14] aledbf commented on #183
Thanks @drake7707, your suggestion works :100:

[2018-07-30 15:14] #183 closed

[2018-07-30 15:41] leblancd opened #184 "Modify bind9 (for DNS64) for K-D-C operation in a DinD environment"
When K-D-C runs in IPv6 mode, it currently uses the standard version of the bind9 container, i.e. resystit/bind9. Running K-D-C in IPv6 mode in a DinD environment (i.e. DinDinD scenario) on a host that has 'named' installed (and an active AppArmor profile for 'named') results in the 'bind9' container crashing because of permissions errors when attempting to load binaries upon which 'named' depends

[2018-07-30 18:00] stratmm commented on #177
Hi @liufuyang,

I have been using 1.11.1-00 and 1.11.0-00.  I boot up a single master node to manually build an HA cluster and find the node is immediately using 50% of all four CPUs on the host.

Config File
[code]

Simply installed with
[code]

etcd is on a separate cluster behind a load balancer.

[2018-08-01 21:37] rpothier opened #187 "Need to make storage driver configurable."
Currently overlay2 is used for the storage driver,
but there are some cases when overlay2 cannot be used, and the user would
want to specify a different storage driver.

[2018-08-01 21:37] rpothier commented on #187
/assign

[2018-08-02 12:54] hoegaarden opened #188 "Make sure func/var naming is consistent"
Use snake_case only.

See here: https://github.com/kubernetes-sigs/kubeadm-dind-cluster/pull/166#issuecomment-409905572

/assign hoegaarden
/assign mariantalla

[2018-08-02 12:54] hoegaarden commented on #188
@mariantalla JFYI

[2018-08-02 18:38] pmichali opened #189 "Regression(s) from PR166"
PR 166 changes API server port to be dynamic, and also calculates the IPv4 subnet to use for the DinD network.

What I see for IPv6, is that, when the dind-network is created, it computes a V4 subnet (OK), uses the specified IPv6 network (OK), but tries to set the GW based on the V4 subnet and not the V6 subnet.

As a result, we see:
```docker: Error response from daemon: invalid IPv6 address: 0.0

[2018-08-02 21:12] pmichali commented on #189
There are several functions that do not support IPv6: get-subnet, get-ip-from-rnage, ensure-net,...

[2018-08-03 02:25] edvorg opened #191 "kubectl misconfiguration"
It used to work fine, but recently after running
[code]
I started to get an error
[code]
The cluster seems to be starting correctly, but correct kubectl configuration has gone missing

[2018-08-03 02:27] edvorg commented on #191
Seems like the latest commit by robot breaks this

[2018-08-06 10:15] charlesxucheng commented on #80
I tried the ssh command above but it does not work. Using nc works though.

nc -l -p $localport -c "nc $remotehost $remoteport"

e.g.
nc -l -p 8081 -c "nc localhost 32768"

[2018-08-06 19:45] pmichali commented on #182
Additional IPv6 tests...
- up/down/up cycle and check pod-to-pod pings and pod to external access.
- Check that tayga/bind9 containers are still running, after up/down.
- Check that tayga/bind9 containers not running, after "clean".
- Negative: multi-cluster and IPv6, IPv6 with kube-router
- Clsuter up with CoreDNS and check DNS for pods and external IPs (V4 and V6, when have allow AAAA mode).

Co

[2018-08-06 21:29] gregwebs opened #195 "stable release tags"
This is a great project, and I am glad there is a lot of development on it to push it forward. But it seems that there is a fair amount of instability on master right now.
It would be very helpful to have some release tags to use for installing.
I am creating a tutorial that requires a multi-node Kubernetes install. Running kubeadm-dind-cluster is recommended, but now I don't know what commit I sh

[2018-08-07 13:44] jellonek commented on #195
I agree on that this should be done soon.
For this moment I would suggest to use https://github.com/kubernetes-sigs/kubeadm-dind-cluster/commit/64a2befa65ce23475158b65793e56d4bc1ae0a79 as a latest stable commit.

[2018-08-07 20:46] gregwebs commented on #195
Thanks! I have local volume mounting issues on that commit that I don't see on [our fork](https://github.com/pingcap/kubeadm-dind-cluster). I haven't tracked down where the issue diverges yet.

[code]

[2018-08-07 20:52] rpothier commented on #163
I'm seeing this also, although now it is
error: unknown flag: --skip-preflight-checks
as this flag was removed with https://github.com/kubernetes/kubernetes/commit/9e204fe7f715251c191d7c8230cd98553d43230e

[2018-08-07 21:02] jellonek commented on #163
@krmayankk that should be already fixed by https://github.com/kubernetes-sigs/kubeadm-dind-cluster/commit/c728934c97a77cd41df48ea88103526ed1f6833a included merged in #165

@rpothier so simply on versions v1.11+ this need a new name for option. Will fix that tomorrow.

[2018-08-08 01:36] sedlund commented on #80
nc is not encrypted and insecure.  if you use ssh as above, point your
browser to http://localhost:8080 -- if it does not work the VPS your using
might have the ssh daemon configured to not allow forwarding ports, enable
it in /etc/ssh/sshd_config or equivalent and reload ssh config -
/etc/init.d/ssh reload.   debug ssh connections by using -vvv as an option.

On Mon, Aug 6, 2018 at 12:15 PM Xu Ch

[2018-08-08 09:33] edvorg commented on #191
Alright, this works. Thanks you!

[2018-08-08 09:33] #191 closed

[2018-08-09 12:48] #163 closed

[2018-08-09 16:36] petr-k commented on #173
@k82cn You can specify API server flags via environment variables. E.g., to set admission controllers, you'd export a env var as follows: `APISERVER_admission_control=Initializers,NamespaceLifecycle,LimitRanger,ServiceAccount,DefaultStorageClass,DefaultTolerationSeconds,NodeRestriction,MutatingAdmissionWebhook,ValidatingAdmissionWebhook,ResourceQuota`

That's what I've been doing in tests for [k8s

[2018-08-10 07:13] k82cn commented on #173
It does not work for 1.11 :(

I added Priority to the list, but no such admission in masternode, please check following output for detail .

[code]

[2018-08-10 08:37] petr-k commented on #173
This is the code that turns environment variables into extra args of kube API server: https://github.com/kubernetes-sigs/kubeadm-dind-cluster/blob/master/fixed/dind-cluster-v1.11.sh#L1010

In 1.11, you'd use `--enable-admission-plugins`, instead of `--admission-control` - that means your environment variable will be named `APISERVER_enable_admission_plugins`.

From [Using admission controller](htt

[2018-08-10 10:44] pmichali commented on #181
Fix has merged, so this is all set now.

[2018-08-10 10:44] #181 closed

[2018-08-10 13:06] pmichali opened #198 "Add PTP CNI plugin support"
Community is transitioning from Bridge to PTP CNI plugin, due to some security concerns. Fr flexibility, k-d-c should be updated to add PTP support. Includes adding plugin support, updating readme, adding CI test cases, and checking on IPv4 and IPv6.

[2018-08-10 13:07] pmichali commented on #198
/assign

[2018-08-10 21:04] Huang-Wei opened #200 ""join" command not functioning well"
**Env:**

OS: Ubuntu 16.04
Uname: Linux 4.4.0-116-generic 140-Ubuntu SMP Mon Feb 12 21:23:04 UTC 2018 x86_64 x86_64 x86_64 GNU/Linux

**How to reproduce:**

1. Build a kubeadm-dind cluster from source code:
    - export BUILD_HYPERKUBE=y
    - export BUILD_KUBEADM=y
    - cd to \<GOPATH\>/src/k8s.io/kubernetes
    - run `NUM_NODES=3 ~/dind/dind-cluster.sh`
1. Then I got a 3 node cluster, it works

[2018-08-11 03:51] #200 closed

[2018-08-11 13:09] k82cn commented on #173
@petr-k , still does not work export two env :(

[code]

[2018-08-11 21:36] petr-k commented on #173
Not exactly sure where you're going wrong. Why are you setting those two variables at the same time?

Anyway, if I do, in this order:
* `curl` the most recent `dind-cluster-v1.11.sh` script
* `./dind-cluster-v1.11.sh clean` (especially important if you're not in the clean state and fiddle with the args)
* `APISERVER_enable_admission_plugins=Policy ./dind-cluster-v1.11.sh up`

Then the result of `k

[2018-08-13 00:55] k82cn commented on #173
@petr-k , the latest version of 1.11 gets worse :( , it can not start in Mac.

[code]

[2018-08-16 21:25] pigmej commented on #195
What about https://github.com/kubernetes-sigs/kubeadm-dind-cluster/blob/master/fixed/dind-cluster-stable.sh ? That's the current "sub-optimal" way. (per discussion: https://github.com/kubernetes-sigs/kubeadm-dind-cluster/issues/115)

@ivan4th is currently working on containerizing "core" scripts, and leaving just "frontend" to end user, that should fix your problem definitely.

[2018-08-16 22:02] lukaszo commented on #43
@stantonxu I've just tested it and it still works fine for me.

Maybe for some reason you don't have configured route for it?
I have:

[code]

[2018-08-16 22:17] gregwebs commented on #195
Great!

[2018-08-17 12:57] hoegaarden opened #203 "RFC: Alternative strategy for network defaulting"
### Background

In #161 the option to run multiple clusters in parallel was introduced. Users needed to explicitly configure the subnet & external port for the kube-apiserver for every but the first cluster. To have a better UX #166 introduced mechanisms to find a free subnet for a cluster and a free port to expose the kube-apiserver on. There are some problems with the current mechanism how free

[2018-08-17 15:29] pmichali commented on #203
Another option to consider...

Allow the user to specify a cluster CIDR, from which networks would be allocated programatically from for each cluster. If not specified, a default could be used. This way, instead fo trying to find a free network, the user can easily specify a non-colliding network.

From the cluster CIDR, a fixed size could be used for each network inside that CIDR.

For example, f

[2018-08-17 18:42] LiamHe commented on #139
In addition to what @ivan4th has provided, we can mount our local directory (like datasets) to kube-node-1 first. To do so, change the last statement of function `dind::run` in `dind-cluster-*.sh` to
[code]
Then run `dind-cluster-v1.11.sh down && dind-cluster-v1.11.sh clean && dind-cluster-v1.11.sh up` to mount your local filesystem.

[2018-08-23 08:08] henres commented on #155
Is it possible to have some news about this issue ?

[2018-08-23 10:01] #184 closed

[2018-08-23 19:33] #198 closed

[2018-08-23 19:40] pmichali opened #207 "Add support for kube-proxy with IPVS"
Currently, if kube-proxy is configured to use IPVS, instead of iptables, the kube-proxy pods fail to come up in IPVS mode. This is because ipset is missing from the hypokube image (thanks Ivan!).

I'll be posting a PR to resolve this shortly.

[2018-08-23 19:40] pmichali commented on #207
/assign

[2018-08-23 19:47] pmichali opened #208 "Add knob to allow user to select kube-proxy in IPVS mode"
To run in this mode, kubeadm.conf needs to have the lines:
[code]

Currently, the only way to do this, is to modify the kubeadm.conf.tmpl file and then build the DinD image locally. It would be useful to be able to select this via a knob.

Related questions are:
- Should we provide a knob to allow masqueradeAll to be set to false, or is this required to be true for k-d-c (and if so, why)?
- Should

[2018-08-23 19:48] pmichali opened #209 "Add dual-stack support for k-d-c"
Update k-d-c to support the selection of IP_MODE=dual-stack. Perform needed actions to support bringing up cluster in dual-stack mode (IPv4+IPv6).

TODO: Identify the changes needed.

[2018-08-27 17:08] #207 closed

[2018-08-29 13:46] drake7707 opened #211 "v1.11 deploys the control plane in the default namespace after frobbing"
Frobbing converts the static pod manifest to a json with kubectl convert, but this strips out the namespace starting v1.11 (see  https://github.com/kubernetes/kubernetes/issues/66276). As a result the control plane is deployed in the default namespace.

~~Suggestion: add an extra jq filter~~
[code]

~~that is applied on the 3 static pods so it always deploys to kube-system.~~~

EDIT: this is not e

[2018-08-30 15:52] pmichali commented on #209
/assign

[2018-09-05 11:08] Gavin89 opened #213 "Using 0.0.0.0 to bind port on container for AWS."
Hey, I was looking to use this for my AWS ec2 instance, and I noticed the kube-master got bound to 127.0.0.1, which means my kubectl on my machine is unable to access the port. Could you maybe have an option to say if cloud, then use 0.0.0.0? I updated mine manually to reflect this, and I was then able to connect to my cluster in docker via kubectl

[2018-09-11 01:52] murphye commented on #43
This doesn't work on Mac because the Docker bridge network will not accept routes.
https://github.com/moby/moby/issues/22429

[2018-09-11 10:07] lukaszo commented on #43
Sorry, I don't have Mac :(

[2018-09-11 13:15] murphye commented on #43
@lukaszo This is an issue with Docker on Mac, not with this project. I just wanted to let others know who may be facing this issue.

[2018-09-11 18:05] stantonxu commented on #43
@lukaszo yes, my issue is for Docker on Mac.

[2018-09-12 23:37] ivan4th commented on #213
kube-master uses an insecure port right now. This is something to be fixed, too, but to provide some minimum security it's advised to forward apiserver port over ssh instead. Also, you can forward the port using docker, see [this script](https://github.com/kubernetes-sigs/kubeadm-dind-cluster/blob/master/build/portforward.sh) used by kubeadm-dind-cluster CircleCI jobs for example.

[2018-09-12 23:37] #213 closed

[2018-09-14 12:25] livingmine opened #217 "Hang in Running kubeadm"
### Steps to reproduce:
Run ```./dind-cluster-v1.8.sh up``` command

### Environments:
1. Ubuntu 18.04
2. kubeadm version: &version.Info{Major:"1", Minor:"11", GitVersion:"v1.11.3", GitCommit:"a4529464e4629c21224b3d52edfe0ea91b072862", GitTreeState:"clean", BuildDate:"2018-09-09T17:59:42Z", GoVersion:"go1.10.3", Compiler:"gc", Platform:"linux/amd64"}
3. kubectl version: Client Version: version.Inf

[2018-09-19 14:35] jotamorais commented on #217
I'm experiencing the same isue.

[2018-09-19 22:00] leblancd opened #218 "Test for kube master should include kube-master-cluster-* for multicluster masters"
In image/wrapkubeadm, there's a test for whether a node is kubernetes master. The current test looks for a fixed name of "kube-master":
[code]
But the hostname for a kube master in a multicluster config won’t match the expected “kube-master”:
[code]
This check for master should be:
[code]
Where this is used:
[code]
Without a call to frob-cluster, the kube-proxy config map (and other config maps) i

[2018-09-20 00:41] leblancd opened #220 "DinDinD - Need way to configure NAT64 V4 Subnet without multicluster kicking in"
For running K-D-C within a container (DinDinD configuration, as used in CI), we would like to have a way of specifying the NAT64 V4 subnet without having the scripts set up a cluster in multi-cluster mode. It would be better if the setting of NAT64 V4 subnet and the triggering of multi-cluster mode could be done independently.

Background:
When running K-D-C within a container (DinDinD configurati

[2018-09-20 11:04] pmichali commented on #220
For DinDinD you can use a cluster ID of zero, which means first cluster of a multi-cluster configuration or single cluster mode. You can omit the CLUSTER_ID and it will default to zero.

[2018-09-20 17:18] pmichali commented on #220
From discussion with @leblancd, the NAT64 mapping network, should be in RFC-1418 private network range.  Currently, one can use a prefix of 10, and comply with that requirement, but we may want to consider using the 172.16.0.0/12 subnet and ensure addresses are within limits.

[2018-09-20 18:48] pmichali commented on #220
Some options are:

Option A

User specifies a two octet NAT64 prefix, iff they want to override.  Default: 172.17. Subnet will be <PREFIX>.<PREFIX>.0.0/16 always.

Single cluster, no settings needed, get 172.17.0.0/16.
Single cluster that needs special subnet, set NAT64_V4_SUBNET_PREFIX=172.20, for example.

Multicluster, for all but the first cluster (as long as no docker conflict), user sets NAT

[2018-09-21 16:51] isyarov opened #221 "Need help with exposing the master's secure port"
Hi guys,
I really appreciate the work you've done, it's awesome.

I want to use this for testing purposes and i need to call the master api server from a different machine. Is there a way to expose the secure and insecure ports without modifying the script? Currently the master's insecure port gets exposed, but is bound to 127.0.0.1 and thus i cannot reach it from another machine, only from the ho

[2018-09-24 14:43] pmichali commented on #220
Working up a solution for this issue, should be posted today.

[2018-10-01 15:42] rpothier commented on #187
This was fixed with issue #199

[2018-10-01 15:42] #187 closed

[2018-10-02 00:29] Huang-Wei opened #223 "issue running with kubernetes master (1.13)"
It seems in latest kubernetes master branch (1.13), kubeadm API is promoted to `kubeadm.k8s.io/v1alpha3`, and it brings some breaking changes.

So that `image/kubeadm.conf.tmpl` should be updated to: (not sure if it's 100% correct)

[code]

And modifying this file locally doesn't help, I guess this should be packaged as a new `mirantis/kubeadm-dind-cluster` version.

[2018-10-03 10:28] vlad-belogrudov opened #224 "Cannot build kubetest for e2e behind http proxy"
I set DIND_*PROXY variables and can run cluster successfully with 1.10 script. Unfortunately proxies are not taken into account when building e2e:

https://github.com/kubernetes-sigs/kubeadm-dind-cluster/blob/master/fixed/dind-cluster-v1.10.sh#L1758

It would be nice to have here those proxies as well or to build kubetest elsewhere and then run e2e (e.g. to avoid networking issues due to proxies s

[2018-10-03 11:20] vlad-belogrudov opened #225 "e2e tests fail with DNS test cases"
Running 1.10 script, dind cluster builds and operates well. When running e2e tests 2 out of 155 fail:

[code]

[2018-10-03 18:30] rpothier commented on #223
@Huang-Wei can you try the above fix?

[2018-10-03 18:30] rpothier commented on #223
/assign

[2018-10-03 18:39] Huang-Wei commented on #223
@rpothier nope, it doesn't.

[code]

As i mentioned earlier, I guess it's because `image/kubeadm.conf.tmpl` is packaged into the image `mirantis/kubeadm-dind-cluster`. So modifying the one outside doesn't help.

[2018-10-03 19:08] rpothier commented on #223
@Huang-Wei  The image needs to be rebuilt. From the kubeadm-dind-cluster directory you can build with ./build/build-local.sh.
Then set this environmental variable  in the shell that you do the cluster up
DIND_IMAGE=mirantis/kubeadm-dind-cluster:local

[2018-10-03 19:30] Huang-Wei commented on #223
@rpothier thanks! It works perfectly with rebuilt image.

[2018-10-04 03:39] jerryjedi opened #227 "met error when do git clone"
I follow the instruction to git clone the code to local:
git clone git@github.com:kubernetes-sigs/kubeadm-dind-cluster.git ~/dind
but cmd report " Permission denied (publickey).， fatal: Could not read from remote repository.“.
I have already config the SSH key of github and tested "ssh -T git@github.com" successfully.
Finally I used "git clone https://github.com/kubernetes-sigs/kubeadm-dind-cluste

[2018-10-04 23:50] Huang-Wei commented on #223
This issue has been fixed in #226. Close it.

[2018-10-04 23:50] #223 closed

[2018-10-05 18:59] jellonek commented on #227
I think that you are right. My linked above PR fixes that.

[2018-10-06 05:23] k82cn opened #230 "1.11 failed to start kubadm"
Refer to the following message for more detail:

[code]

[2018-10-07 16:45] kkimdev opened #231 "docker: Error response from daemon: cgroups: cannot find cgroup mount destination: unknown."
I tried running kubeadm-dind-cluster on Windows 10 with https://docs.docker.com/toolbox/toolbox_install_windows/ and got the following error.

[code]

I suspect that it's because Docker Toolbox's docker daemon lives in an isolated Virtual Box machine, and probably kubeadm-dind-cluster assumes Docker daemon runs in the same host environment?

[2018-10-07 17:06] kkimdev commented on #231
Maybe an independent issue actually, will close for now.

[2018-10-07 17:06] #231 closed

[2018-10-08 09:11] #227 closed

[2018-10-08 13:12] pmichali commented on #209
Once PR 228 is merged, we have the basic infrastructure for dual-stack in place for k-d-c. Beyond that, there are the following enhancements that can be done:

- Test/verify and enable multi-cluster mode.
- Allow dual-stack with DNS64/NAT64 option for V6, where destination does not have IPv6 support, but using IPv6 operations.
- Additional changes made be needed, once K8s is updated to fully suppo

[2018-10-08 19:21] mestery commented on #224
I see something similar here:

[code]

[2018-10-09 07:56] allamand opened #232 "Persist kubernetes objects"
Hello,

I would like to know if it is possible to persist kubernetes state and objects bretween a down and a up or reup ?

I would like to uses dind cluster to deploy some apps, then I would like to shut it down and brings it up later. I see that it uses docker volumes, so that I can persist data from my pods in local-volumes in the docker volume, but it seams that all kubernetes objects are gone

[2018-10-09 08:42] allamand commented on #232
For the moment I'm doing manual `docker pause kube-master kube-node-1` and later `docker unpause kube-master kube-node1` but maybe there is integrated tool for doing better

[2018-10-10 09:10] #209 closed

[2018-10-10 11:41] kkimdev opened #234 "Providing official prebuilt image?"
I think one of the main usecase for kubeadm-dind-cluster is running in CI.  How about providing a prebuilt image so that users can just run it without creating containers from scratch?

[2018-10-11 11:40] lukaszo commented on #208
I hope that bot will not close it again

[2018-10-11 22:29] bhack commented on #103
Any news?

[2018-10-13 04:40] kkimdev commented on #7
Having the same issue.  Tried exposing some pods with hostport 80 and 81 but `netstat -l` inside the kube-node-1 docker container shows that port 80 and 81 are not listening.

[code]

[2018-10-14 02:26] #230 closed, assigned to nobody

[2018-10-15 10:25] kkimdev opened #235 "Remote Docker Daemon support"
Currently dind-cluster up fails with remote Docker daemon because kubectl configuration assumes connecting to localhost.

I found that `docker info` prints `No Proxy: <IP address>` when the Docker daemon is remote, maybe we can use that??

[2018-10-15 16:51] pmichali opened #236 "k-d-c failing with newer KubeAdm versions"
With newer KubeAdm versions, we are seeing that the kubeadm.conf file has significantly different format, which is difficult to accommodate with the current k-d-c code.

Should have version specific kubeadm.conf files, using templates, instead of trying to morph a single template to work for multiple versions.

I'll be pushing up a PR in a few minutes.

[2018-10-16 11:38] pmichali opened #239 "kube-router update causing CI test failures"
The k-d-c script installs kube-router (when specified as CNI plugin) using a generic script that uses the latest version of kube-router. This means that this "dependency" is floating, and can change independent of k-d-c changes.

As a result, a recent change to kube-router is causing the k-d-c CI to fail for the kube-router test cases.

Until the kube-router issue can be resolved, the version used

[2018-10-17 12:44] Morriz opened #241 "can't scrape logs: /var/log empty"
Hi, I use filebeat to scrape logs for elsticsearch indexing, but it finds nothing. When I look at `/var/log` from inside a pod I see nothing. What am I missing?

[2018-10-17 15:25] alancnet opened #242 "Can't use nfs. /sbin/mount.nfs missing on kubelets"
Mounting an NFS PersistentVolume fails because `/sbin/mount.nfs` is missing on the kubelet container. I believe the image should have `nfs-common` built-in. An easy enough fix. Is it the correct approach?

[code]

[code]

[2018-10-19 15:47] #239 closed

[2018-10-19 17:56] pmichali commented on #236
There are two things seen. First, the API version for 1.13 is incorrect in the config file created (alpha3 vs beta1). Version 1.12 uses alpha2 (still compatible) instead of alpha3.

Second, because there are considerable changes to kbueadm.conf syntax from version to version, it is difficult to customize the template used, because of considerable syntax difference.

There is a desire (at least by

[2018-10-23 00:30] ozbillwang opened #243 "installation doesn't go through"
I got this when run `./dind-cluster-v1.8.sh up`

[code]
I guess it is because the company outbound rules.

I need temporary open the whitelists for any outbound dns name, for example, I need open `*.github.com` to allow the access to github.

I have added below, anything else I need add to whitelists to install this `kubeadm-dind-cluster`

[code]

[2018-10-23 09:34] lukaszo commented on #243
It's message from kubeadm. It downloads images from `k8s.gcr.io` domain

[2018-10-23 10:39] ozbillwang commented on #243
Thanks, but still hold for long time, maybe there are some other issues.

[2018-10-23 10:57] jellonek commented on #243
The fastest way to debug that would be to use wireshark to monitor what outgoing communication tries to be established. That doesn't even require looking into sources/settings.

[2018-10-25 21:11] #236 closed

[2018-10-30 10:37] combor opened #245 "New kubeadm.conf templates are not in the stable image"
After https://github.com/kubernetes-sigs/kubeadm-dind-cluster/pull/237 was merged the `stable` container was not updated so it doesn't contain new templates. This results in startup failures:

[code]

[2018-10-30 12:01] combor commented on #245
Just checked - it works OK from the stable branch. Should this be documented somewhere that `dind-cluster-stable.sh` is stable only on `stable` branch?

[2018-10-30 12:10] lukaszo commented on #245
Yeah, good idea. I will create a PR

[2018-10-30 12:13] combor commented on #245
Thanks! I'll close this issue.

[2018-10-30 12:13] #245 closed

[2018-11-02 14:29] #221 closed

[2018-11-02 19:14] cscetbon commented on #160
I'm surprised you didn't get an answer since July. I'm looking for the same answer and I don't understand why it needs it. I don't wanna have to create a `/boot` just for dind to work ...

[2018-11-02 20:49] cscetbon commented on #160
@antoine-morisseau if you're still stuck have a look at https://github.com/kubernetes-sigs/kubeadm-dind-cluster/pull/246. That's how I fixed the issue on my Mac. You'd probably do the same

[2018-11-07 06:07] cscetbon opened #248 "Registry proxy cache container"
One issue with Docker in Docker is that each kube node that uses a dind container pulls the images it needs. So having 3 nodes, the same image could be downloaded at most 3 times. There should be the possibility of having a local registry proxy cache to avoid having to download an image more than once.
Something like https://blog.docker.com/2015/10/registry-proxy-cache-docker-open-source.

[2018-11-07 16:56] ivan4th commented on #248
This feature is already implemented, see #93
Just need to add docs for it ...

[2018-11-07 23:29] ozbillwang commented on #243
Thanks, @ivan4th

I saw some errors with the dump:

The error is

The container is running

I will check why I can't connect to localhost with port 8080
[code]

[2018-11-09 06:10] kenwoodjw commented on #153
I have some issue ,after I run
`
docker run --privileged -d docker:dind
`
it can work ,hope it help

[2018-11-13 05:24] achalshant opened #250 "kubeadm init fails when building from source"
Got the following error while building Kubernetes from source using dind-cluster.sh

*** 'kubeadm init --config /etc/kubeadm.conf --ignore-preflight-errors=all' failed, doing kubeadm reset ***
'/etc/cni' -> '/etc/cni.bak'
'/etc/cni/net.d' -> '/etc/cni.bak/net.d'
'/etc/cni/net.d/cni.conf' -> '/etc/cni.bak/net.d/cni.conf'
failed to load admin kubeconfig: open /root/.kube/config: no such file or dire

[2018-11-14 01:00] netroby opened #252 "How to upgrade exists kubeadmin-dind-cluster"
If i setup an kubernetes cluster , how can i upgrade to latest ?

[2018-11-14 21:09] #250 closed

[2018-11-17 06:50] #252 closed

[2018-11-18 12:22] ervikrant06 opened #253 "Where the DinD container gateway is present?"
Started the cluster on Mac using the script. After that spawned one POD and I was able to ping the external world from POD. I found this default route `10.192.0.1` on DinD container. I am not able to trace where this GW is present. I checked the Mac `ifconfig -a`but didn't find any interface with this IP address. I know this is not an issue but I really didn't find any information about it. Can an

[2018-11-23 01:41] cscetbon opened #255 "dind-cluster does not work anymore"
The latest image seems broken. A week ago I was able to set up a k8s cluster but now anytime I try I get

[code]

I use Docker for Mac CE Edge channel. I also tried on a Linux box and got the exact same issue. I checked with both 1.11 and 1.12.

When I manually start the docker service in the kube-master container I get

[code]

[2018-11-23 10:21] neiljerram commented on #255
I'm seeing that too.  Is it something to do with the changes in #254 ?

[2018-11-23 10:29] neiljerram commented on #255
What is the procedure for building a mirantis/kubeadm-dind-cluster image as it was before #254 was merged?  Or does anyone already have such an image that they can share?

[2018-11-23 11:00] neiljerram commented on #255
To answer my own question: with code as at https://github.com/neiljerram/kubeadm-dind-cluster/commit/0cbdd83593fb3b08a8f707c77160f495477ff14e (which is a few changes on top of https://github.com/kubernetes-sigs/kubeadm-dind-cluster/commit/5debf384d0ba9f308fc4e020205884ac363cc0bb), I have done
[code]
Then, with calico/kubeadm-dind-cluster:v1.12 instead mirantis/kubeadm-dind-cluster:v1.12, I can bri

[2018-11-23 21:36] cscetbon commented on #255
My code @tklrchain ?

[2018-11-26 02:40] kkimdev commented on #255
Suddenly hitting the same error.  Full log attached below
[code]

[2018-11-26 12:05] diafour commented on #255
@cscetbon @kkimdev have you updated dind-cluster.sh script? I've just downloaded the latest version as stated in README and it works fine.

[2018-11-26 12:17] ivan4th commented on #255
Yes, this looks like an old `dind-cluster...sh` script

[2018-11-26 13:48] diafour commented on #255
May be rawgit issue? https://github.com/rgrove/rawgit/blob/master/FAQ.md#how-long-does-the-cdn-cache-files-how-can-i-make-it-refresh-my-file

[2018-11-26 15:12] ivan4th commented on #255
You can try to use gitcdn instead of rawgit, e.g. https://gitcdn.link/repo/kubernetes-sigs/kubeadm-dind-cluster/master/fixed/dind-cluster-v1.12.sh
I'll update the docs

[2018-11-26 15:15] neiljerram commented on #255
TBH it didn't occur to me that there would be an interdependency between the image and the scripting...

[2018-11-26 16:00] henres opened #259 "Error when trying to build cluster"
I'm on ubuntu 18.10 with Docker version 18.06.1-ce.

When i try to launch it.

[code]

[2018-11-26 17:05] wannaknowmo commented on #259
same issue here

OS: RHEL 7.5
DOCKER VERSION: 18.09

./dind-cluster-v1.12.sh up
* Making sure DIND image is up to date
v1.12: Pulling from mirantis/kubeadm-dind-cluster
Digest: sha256:8e679951101f3f2030e77a1146cc514631f21f424027fcc003fc78a0337eb730
Status: Image is up to date for mirantis/kubeadm-dind-cluster:v1.12
* Starting DIND container: kube-master
./dind-cluster-v1.12.sh: line 1040: DIND_K8S

[2018-11-27 01:49] kkimdev commented on #255
I tried https://gitcdn.link/cdn/kubernetes-sigs/kubeadm-dind-cluster/30a2033581adf53161fe1cdc76f1550193927db4/fixed/dind-cluster-v1.12.sh but still got the same error.  Maybe somehow the bot is not downloading the corresponding docker image, or maybe my issue is something different?

Can anyone check if the digest sha256:8e679951101f3f2030e77a1146cc514631f21f424027fcc003fc78a0337eb730 is correct f

[2018-11-27 06:57] kkimdev commented on #255
I just tried on the CI bot and my local machine again.  Both pulled the same image, sha256:f8a53b72213ca5f310fe000dde45e09a5a14ef78d209d9d8e6a67e465b1263fa , it worked on my laptop but not on the bot :/ I guess I have a different problem that I have to debug.

[2018-11-27 22:58] cscetbon commented on #255
Any response to my proposal https://github.com/kubernetes-sigs/kubeadm-dind-cluster/issues/255#issuecomment-441677534 ?

[2018-11-27 23:08] kkimdev commented on #255
+1 to #255 .  I think it's already widely accepted that using hash digest for Docker image is a better practice in general. E.g., https://www.spinnaker.io/guides/user/kubernetes-v2/best-practices/

[2018-11-28 02:07] myonlyzzy opened #261 "dind reup failed on macos"
I deploy a k8s cluster use dind-cluster-v1.12.sh script ,and then down this cluster. somedays later I try use dind-cluster-v1.12.sh to reup this cluster .But happen some error like this

[code]

docker ps

[code]

docker exec -it kube-master /bin/sh
 ps -ef
[code]

why docker daemon net start when reup cluster.

[2018-11-28 11:31] ivan4th commented on #255
I'd do it this way: start making releases for the project and push images with tags `kdc-version--k8s-version`, e.g. `mirantis/kubeadm-dind-cluster:1.0--v1.12`, and include it in fixed scripts which will be published as part of the release. The "released" scripts will also include digests for the images. The users will be encouraged to download scripts from gh releases. I can also make the CI push

[2018-11-28 14:57] hypergig opened #262 "bad form - please don't change versioned code from under us"
Typically when you stamp some code with a non snapshot version, like v1.12, it becomes immutable.  I won't say it's religion, but certainly a pretty widely accepted thing.

A few days ago the `dind-cluster-v1.12.sh` script changed, causing a miss match of script and docker images, which instantly failed anything that depended on kubeadm-dind-clusters. A minor inconvenience to be sure, I just neede

[2018-11-28 15:53] cscetbon commented on #262
@hypergig There is a discussion around changes in scripts at https://github.com/kubernetes-sigs/kubeadm-dind-cluster/issues/255. Don't hesitate to weigh in the current discussion

[2018-11-28 16:41] cscetbon commented on #255
@ivan4th I think it's gonna solve the current issue, so good for me. As long as anyone who downloads a version of the scripts can still use it for the time he wants, that's a 👍

[2018-11-28 17:23] henres commented on #259
So, shellcheck say that it's better to use -n than ! -z
I just saw that the script have been modified.
I will give it a try.

[code]

[2018-11-30 11:22] abdennour opened #264 "How to enable kubectl autocompletion with this cluster"
I would expect to have a kubeconfig to point the kubectl calls to the cluster. However, the approach is to use a custom "kubectl"  which is `$HOME/.kubeadm-dind-cluster/kubectl`.

Can we enable bash/zsh autocompletion with this binary ?

[2018-11-30 12:50] macroramesh6 opened #265 "Routing between Kubernetes cluster and Docker container in the VM"
I have setup Kubernates cluster in the VM (Ubuntu 18.04.1 LTS) on the Azure cloud using [preconfigured scripts](https://github.com/kubernetes-sigs/kubeadm-dind-cluster#using-preconfigured-scripts).

MongoDB docker container is running along with K8s cluster. My aim is to connect MongoDB to CMS container which is running inside the K8s.

Docker containers:
[code]

Kubernates nodes:

[code]

Kuberna

[2018-11-30 17:43] Philippe-Collignon opened #266 "Insecure registries not working with latest fixed 1.10"
It as working before. Now, with last update, startup just fails :
[code]
My insecure registries variable is :
` DIND_INSECURE_REGISTRIES="[ \"localregistry:5000\", \"0.0.0.0/0\"]" `

[2018-12-01 10:13] Philippe-Collignon commented on #266
Error not related to DIND_INSECURE but to other custom docker options .. sorry

[2018-12-04 12:45] Philippe-Collignon commented on #266
It fails at ``   docker exec ${container_id} systemctl restart docker ``

[2018-12-04 15:42] Philippe-Collignon commented on #266
On the node, the /etc/docker/daemon.json is right.

If I try to run `` systemctl restart docker ``manually I get this logs :

[code]

[2018-12-04 16:59] Philippe-Collignon commented on #266
If I start the cluster without insecure-regitry and then I ssh to the nodes, set the insecure-registry config in daemon.json and restart manually .. it works !

[2018-12-04 21:48] matti opened #267 "google cloud shell support"
script fails on google cloud shell machine:
[code]

[2018-12-05 07:46] aparamon commented on #242
Did you try to use node Docker image derived from `mirantis/kubeadm-dind-cluster` (`apt-get install nfs-kernel-server nfs-common`), as described in
https://github.com/kubernetes-sigs/kubeadm-dind-cluster#configuration?

[2018-12-06 10:39] g-alex commented on #255
What is the reason for this basically?
![mkdc](https://user-images.githubusercontent.com/412003/49578888-12519500-f94b-11e8-9c1f-bbf752823579.png)

I mean, what happened to 1.{9..11} stacks that justifies an update 19 hours ago, that basically breaks things that worked one month ago, with no possibility to actually get back the version that worked?

[2018-12-06 11:06] dmeyerholt commented on #266
same effect for 1.12 when using DIND_REGISTRY_MIRROR and supplying DIND_CA_CERT_URL

[2018-12-06 16:01] allamand commented on #255
Still broken on my side with this problem

[2018-12-07 23:41] jc-sanchez commented on #266
To get around this you can add `|| true` to the end of line 2295 in dind-cluster-v1.10.sh
`docker exec ${container_id} systemctl restart docker || true`

I think the issue is that when docker.service starts, it also tries to start containerd.service. containerd.service fails with the following message.
[code]
This is due to the symlink created in the Dockerfile `ln -s /dind/containerd /var/lib/con

[2018-12-18 12:35] jellonek opened #272 "Possibility to pass additional parameters to kubelet"
I need a way to add  `--cpu-manager-policy=static --system-reserved=cpu=1` (according to https://kubernetes.io/docs/tasks/administer-cluster/cpu-management-policies/ ) to kubelet cmdline on worker nodes.

Is there any way to do that from k-d-c level, or does it require also some changes on kubeadm level?

[2018-12-18 12:43] jellonek commented on #272
To be more precise - right now i'm doing that only on first worker node, manually modifying `/lib/systemd/system/kubelet.service` file, after which i need to call `systemctl daemon-reload`, `systemctl restart kubelet`, then `rm /var/lib/kubelet/cpu_manager_state`.

This issue is about providing an option to do this `kubelet.service` modification (or pass somehow these parameters as KUBELET_EXTRA_A

[2018-12-18 23:31] bobhenkel commented on #255
I'm on MacOS and hitting hitting this issue as well. Running into this on 1.11 and 1.12 when upping cluster.

[2018-12-18 23:39] bobhenkel commented on #267
Your pretty much seeing this https://github.com/kubernetes-sigs/kubeadm-dind-cluster/issues/255.

This is what I get on MacOS as well.

[2018-12-19 00:02] ivan4th commented on #262
Hi, sorry for the inconvenience. After #273 is merged k-d-c will have releases with scripts pinned to the images built for them.

[2018-12-19 00:02] ivan4th commented on #255
Hi, sorry for the inconvenience. After #273 is merged k-d-c will have releases with scripts pinned to the images built for them.

[2018-12-19 01:13] bobhenkel commented on #255
No worries stuff happens. The project is awesome thanks for your hard work!

[2018-12-19 11:44] Philippe-Collignon opened #274 "Dashboard connection refused with Calico CNI Plugin"
If using fixed `dind-cluster-v1.10.sh` script  with Calico CNI Plugin (calico or calico_kdd)
Then Dashboard is not accessible :
[code]

[2018-12-20 10:08] #255 closed

[2018-12-20 10:08] #262 closed

[2018-12-20 13:43] #266 closed

[2018-12-20 21:18] Philippe-Collignon commented on #274
I am not expert about CNI & Kubernetes network but adding
` dind::setup_external_access_on_host  ` after calico setup solved the issue.

[2018-12-21 09:40] Philippe-Collignon commented on #274
A `dind-cluster-v1.10.sh clean` was needed ! (to reinitialize the network I presume ..)
Now it works out of the box ..

[2018-12-21 09:40] #274 closed

[2018-12-23 17:11] cscetbon commented on #232
What's the best way to see it implemented ? provide a PR ? Do we agree on the usefulness of that feature ?

[2019-01-14 09:44] IljaKroonen commented on #221
@isyarov Did you succeed?

[2019-01-15 08:59] nasseur opened #276 "dind-cluster-v1.13.sh and dind-cluster-v1.10.sh up failed on windows 10"
I'm trying to use the kubeadm-dind-cluster on Windows 10 but i'm not able to start it.
I'm getting the below error when launching the command: ./dind-cluster-v1.13.sh up

 Error response from daemon: OCI runtime create failed: container_linux.go:348: starting container process caused "exec: \"C:/Program Files/Git/usr/bin/ba                                                             sh\": stat C:/

[2019-01-16 10:24] ivan4th commented on #253
The problem is that Mac Docker networking is a bit ... complicated.
`10.192.0.1` is handled by Docker. On Mac, Docker runs inside a VM. You can attach to the VM's console like this:
[code]
or using `nsenter` (which may be better as `screen` may have some glitches in this case)
[code]
From there, you can look at the IPs:
[code]

As you can see, `br-30df74444e52` inside the docker's VM has this `10.

[2019-01-16 10:24] #253 closed

[2019-01-16 10:32] ivan4th commented on #267
Could you also paste the result of
[code]
from the kube-master node?

Also I'd say this looks suspicious:
[code]

@bobhenkel just verified on my mac and kdc works just fine there. I have High Sierra though.
Does inner dockerd fail in your case too? In this case, the output of
[code]
would be nice, too.

I also use remote docker all the time (tried against remote bare metal machines, GCE instances,

[2019-01-16 19:00] isyarov commented on #221
@IljaKroonen no, I did not. I succeeded it only by modifying the script.

[2019-01-17 07:04] jamesmstone commented on #276
I'm getting the same issue... But using Alpine Linux.
[code]

[2019-01-18 18:57] SteveParson commented on #276
I have a related issue. I believe that the parser for the image name needs to be reworked.
`$ ./dind-cluster-v1.13.sh up
WARNING: No memory limit support
WARNING: No swap limit support
WARNING: No memory limit support
WARNING: No swap limit support
WARNING: No memory limit support
WARNING: No swap limit support
WARNING: No memory limit support
WARNING: No swap limit support
* Making sure DIND imag

[2019-01-21 08:51] INT-ZC opened #277 "preflight sutck at "[wait-control-plane] Waiting for the kubelet to boot up the control plane as static Pods from directory "/etc/kubernetes/manifests". This can take up to 4m0s [kubelet-check] Initial timeout of 40s passed.""
Following guidelines on https://github.com/kubernetes-sigs/kubeadm-dind-cluster

swap partition was not set during the installation of the system
docker was installed at a specific version of 18.0.6.0

[code]

[2019-01-21 14:12] SchSeba commented on #277
Same problem

[2019-01-23 01:52] INT-ZC commented on #277
Finally find out that the GFW blocked some of the relied docker images which means there's no way to run the kubeadm-dind in China right now (except use VPN globally as proxy doesn't work for docker pull and kubeadm-dind is not getting the image locally

[2019-01-23 01:52] #277 closed

[2019-01-23 02:14] yc-zc opened #278 "Use local image if exist, provide required images list"
This is to solve [issue 277](https://github.com/kubernetes-sigs/kubeadm-dind-cluster/issues/277) and to further help running in a local machine without public network

[2019-01-31 04:38] cscetbon commented on #255
Hey @ivan4th, I get again the same issue. I tried to use scripts from release `v0.1.0` but I get errors. See https://pastebin.com/raw/sfU4WweZ

[2019-02-02 16:01] hawsers opened #280 "ERROR: "Job for docker.service canceled." error when DIND*_PROXY set"
https://github.com/kubernetes-sigs/kubeadm-dind-cluster/blob/3fc17d5c4702b9dccf791837a220d8606659ffde/fixed/dind-cluster-v1.13.sh#L2247

Test in CentOS 7.5, after comment this line, proxy work well.

[2019-02-05 11:25] natiki opened #281 "Cannot access the dashboard after a fresh install...."
Hi,

I have a fresh Centos 7 install on which I have just run `./dind-cluster-v1.13.sh up`. I did not set any other values and am using all the default values for networking.

All appears well:

[code]
and it appears healthy:

[code]
I know the dashboard service is there:

[code]
however any attempt to access it is refused:
[code]
I also see the following in the firewall log:
[code]
Any suggestion

[2019-02-05 16:28] vfdev-5 opened #282 "Custom image problem with Docker 18.09"
I experience a problem when I start up the cluster using my custom docker image.

I built a custom docker image with
[code]
and modifed a little `dind-cluster-v1.13.sh` such that it accepts my image.
When I launch the cluster with `dind-cluster-v1.13.sh up` I have the following error:
[code]

Docker version: 18.09

However, the cluster is up and working correctly using base image `mirantis/kubeadm

[2019-02-13 15:02] jellonek commented on #281
Please disable firewall on the host level.

[2019-02-13 15:06] jellonek commented on #264
Just add `~/.kubeadm-dind-cluster` to your `$PATH`.

[2019-02-13 15:06] #264 closed

[2019-02-14 10:10] natiki commented on #281
When I disable the firewall and attempt to run the install script it complains that it cannot create the necessary firewall rules. As you can see above some IPTables rules are created as part of the install.

Any other suggestions?

[2019-02-20 05:25] #248 closed

[2019-02-21 03:17] cscetbon opened #283 "1.13 fails starting on MacOS"
Following the documentation fails :
[code]
No issue with `calico/kubeadm-dind-cluster:v1.12`. 1.13 works on Linux though.

[2019-03-01 17:18] Groovypanda commented on #231
Were you able to solve this issue?

[2019-03-04 21:14] cscetbon commented on #255
@ivan4th don't know if you have some time to look into it, but I've been able to find out that it fails only when `DIND_INSECURE_REGISTRIES` is set :
[code]

If I unset it, I no longer have any issues. It's working with an older version of the script though

[2019-03-05 16:26] jaysonwor commented on #255
Hello -
Trying to POC this but running into same issue: docker.service: Job docker.service/start failed with result 'dependency'. Tried with .11,.12 and .13 (all clean dind runs). Any workarounds?

[2019-03-06 08:57] TrentonAdams opened #288 "error using DIND_DAEMON_JSON_FILE"
I don't think I'm using this incorrectly.  My reason for setting a daemon.json was to have insecure registries.  However, I now know I can set a separate variable for that...

[code]

Anyhow, I narrowed it down to...
dind-cluster-v1.13.sh
```2277     docker exec ${container_id} systemctl restart docker```

[2019-03-06 09:03] TrentonAdams commented on #119
I get the same error as filed at issue 288.  They trigger the same code block.

[code]

[2019-03-06 09:05] TrentonAdams commented on #119
Also, if I replace that line with a `sudo systemctl restart docker` from the host machine, it fails with...
[code]

[2019-03-06 13:35] murdav commented on #280
@hawsers thanks so much!
I use an Ubuntu 18 virtual machine (VirtualBox) on a Window host.
Initially it didn't work I had some proxy errors hence I added in the .bashrc:

DIND_HTTP_PROXY=
DIND_HTTPS_PROXY=
DIND_NO_PROXY=

But I had your same error that was solved commenting that line,
I'm curious how were you able to spot it?
Huge thanks!

[2019-03-06 19:40] TrentonAdams commented on #288
The same thing happens when you use...
[code]
To work around it, I had to remove the `docker exec ${container_id} systemctl restart docker` line in `dind::custom-docker-opts`.  Then, after the cluster starts up I use `dind-cluster-v1.13.sh down; dind-cluster-v1.13.sh up`

[2019-03-07 09:44] morningspace opened #289 "Old kubernetes dashboard deployment"
Hi,

I noticed the current version of the default [deployment](https://rawgit.com/kubernetes/dashboard/bfab10151f012d1acc5dfb1979f3172e2400aa3c/src/deploy/kubernetes-dashboard.yaml) for kubernetes-dashboard is v1.6.0 which is a bit old. Guess it's probably because the dashboard enforced its security and can only be accessed over HTTPS by default since v1.7?

To live with an old dashboard may be in

[2019-03-07 09:55] morningspace commented on #288
Hey, I got exactly the same problem and almost the same workaround! :-)

Still have no idea why it's failed. I can recreate the issue and see the error when I go into the container and run the `systemctl restart docker` manually.

[2019-03-08 10:38] pgeorgi opened #290 "docker on zfs needs additional package"
When using Docker with the zfs backend, the docker binary calls into the zfs binary to gather information about volumes. In a DinD setup, the in-docker binary needs to have the binary available within the container (and that works), so please consider adding zfsutils-linux to the container.

[2019-03-10 03:14] morningspace commented on #288
Hey @TrentonAdams, after a few hours struggling, I think I've got the idea why! CC @jc-sanchez who previously fixed similar issue. And, @ivan4th who seems to be the most active contributor to this repo in recent months :-)

Actually the issue should have been fixed somehow months ago because I see someone reported similar issue #266, and corresponding PR #271 been merged already! [This comment](26

[2019-03-11 09:56] pigmej commented on #280
Seems the same as #288

[2019-03-11 17:58] zenlambda opened #291 "dind::run duplicates command options"
I wanted to map a few extra ports on the master so I tried the following (so maybe i could setup an ingress):

    MASTER_EXTRA_OPTS="` -p 8887:8887 " NUM_NODES=3 ./dind-cluster-v1.13.sh up

However this results in the following error:

   Bind for 0.0.0.0:8887 failed: port is already allocated.

This is because the extra opts are [copied in _twice_](https://github.com/kubernetes-sigs/kubeadm-dind

[2019-03-11 18:34] starpit opened #292 "dind-cluster.sh scripts use pattern match comparison"
this line of e.g. the 1.12 script: https://github.com/kubernetes-sigs/kubeadm-dind-cluster/blob/master/fixed/dind-cluster-v1.12.sh#L1102

copied here:

uses a "pattern match" style bash comparison, as indicated by the lack of any quotation marks. see here for discussion: https://unix.stackexchange.com/a/72042

was this intentional? i note that the dind script uses bitwise comparisons of these vari

[2019-03-13 07:43] morningspace commented on #288
More updates: Now I figured that this issue can be completely resolved w/o making any change as workaround:-)

To my understand, the CI is keeping pushing images w/ corresponding git commit hash to Docker Hub. So, when I use the latest one at the time when I was writing this comment, `tag dd4966877e3a421238a538a525172c4162b7554d-v1.1x`, it should include @jc-sanchez's fix. I've verified locally th

[2019-03-13 14:24] morningspace commented on #289
Hi, I've submitted a PR for this at #294 . It also addresses #65 Feel free to comment on it...

[2019-03-14 09:42] morningspace opened #295 "Allow cluster nodes to join custom network(s) besides the default kubeadm-dind-net"
When we launch cluster, all nodes will join the default `kubeadm-dind-net`, which is the management network for the cluster. The basic idea here is to allow nodes to join custom network(s) other than the default one. This allows nodes to connect to something outside of `kubeadm-dind-net`.

One typical use case that I'm doing is to add these nodes to a local bridge network where there are a few pri

[2019-03-14 23:59] morningspace commented on #289
I am gonna close it since the PR #294 has been merged! Cool...

[2019-03-14 23:59] #289 closed

[2019-03-16 15:30] redgetan commented on #281
I had same problem not being able to access dashboard at localhost:8080. My workaround is to use the server address of the dind cluster listed in kubectl config view . In your case, the dashboard should be accessible at http://127.0.0.1:32769/api/v1/namespaces/kube-system/services/kubernetes-dashboard/proxy/

[2019-03-18 14:16] Igor-lkm opened #298 "How to access ingress (macOS)"
Hello, folks. I am trying to setup a simple app (with deployment, service and ingress). And I can not access ingress endpoint.

[code]

I have pretty basic setup. To reproduce:

1) `./dind-cluster-v1.13.sh up`

Everything is ok at this point and i can access dashboard.

[code]

2) `kubectl create -f example.yaml`

example.yaml:
[code]

Here are results:

[code]

And at this point I want to access

[2019-03-19 12:08] #292 closed

[2019-03-20 04:28] morningspace opened #299 "test_src_master build fails due to recent change from Kubernetes src"
I am seeing test_src_master build keeps failing recently and it's stopped at node join as below:
[code]

Then noticed that [the recent fix](/kubernetes-sigs/kubeadm-dind-cluster/commit/30225fa2d45075055a5854cbe00ac1fcded11a06#diff-6f53bfa951dee02d96a2466da8374ee8R1323) to grab the join command flags never works after [this change](/kubernetes/kubernetes/commit/fcadf143a5ab99ea4318caad22815091e793f

[2019-03-20 08:11] sharmajee1 commented on #124
I am facing the same issue while trying to perform join .
NOTE : I am using latest kubeadm version with cri-o ( though this isn't a problem with cri-o )
kubectl get nodes
[code]

Join config

[code]

kubeadm join --token wiy3qu.ns79yu31jtc0wf7o kube-dev.xxx.com:6443 --discovery-token-unsafe-skip-ca-verification --cri-socket /var/run/crio/crio.sock -v 2
[code]

[2019-03-20 13:29] morningspace commented on #299
am closing it as it's merged... cheers...

[2019-03-20 13:29] #299 closed

[2019-03-20 22:57] morningspace commented on #295
closing it as the PR has been merged

[2019-03-20 22:57] #295 closed

[2019-03-22 22:55] morningspace commented on #278
Hey @INT-ZC I have a PR #296 that has been merged which can exactly solve your problem... See also: #295

BTW: I'm gonna create a video or post to describe how I use it... By using a shared local bridge network, I can have my 3-node k8s cluster be up & running in 1-2 mins :-)

[2019-03-24 03:37] krishdey commented on #283
same for me

[2019-03-24 11:13] morningspace commented on #283
@krishdey Very likely a similar issue of #288

According to [my comment](/kubernetes-sigs/kubeadm-dind-cluster/issues/288#issuecomment-472313763), maybe you can try to change the value of DIND_COMMIT to dd4966877e3a421238a538a525172c4162b7554d, and see if the issue is gone.

[2019-03-26 23:40] wk8 opened #302 "v1.14 script?"
Now that kube 1.14 is out, would be great to be able to use this great project to stand up 1.14 clusters too :) !

(would happily do it, but I don't have the rights neither to Docker hub nor to Github to do that).

Thanks again!

[2019-03-27 10:24] murdav commented on #224
I have the same issue. Did you solve it?

[2019-03-28 13:57] TheDiveO commented on #288
Cannot get this to work with most recent dind-cluster-v1.13.sh freshly wget'ed from this repo. The offending part after changes as ambigously described above look like this for me:

[code]

Still getting "Job for docker.service canceled."

[2019-03-29 20:48] Philippe-Collignon commented on #298
I don't think there is any ingress controller in dind .. Anyway it should relies on a third party reverse proxy ..
For external access I use an external nginx and nodeport services.

[2019-04-02 06:02] 15050050972 commented on #278
I have configured a global vpn, and I configured docker proxy(https://docs.docker.com/config/daemon/systemd/#httphttps-proxy), I can wget www.google.com, and I can pull k8s.gcr.io/pause:3.1
[code]
[code]
But why I still got an error when I try to execute `./dind-cluster-v1.13.sh up`?
thanks

[2019-04-05 10:26] jlyheden opened #304 "v1.12 kubeadm template is not setting cluster dns"
This causes the dind cluster with a custom service cidr to have broken dns, ie the default cluster-dns from kubelet (10.96.0.10) will be injected in resolv.conf in the pods.

[2019-04-05 16:00] fadams opened #305 "DNS issues resolving svc.cluster.local addresses"
Hello, I've been using dind-cluster-v1.13.sh from releases to evaluate OpenFaaS https://github.com/openfaas and Oracle Fn https://github.com/fnproject/fn and I appear to have hit similar issues with both.

With OpenFaaS I first followed their instructions https://docs.openfaas.com/deployment/kubernetes/ that used kubectl with yaml and that worked fine for me. I later got a bit more adventurous and

[2019-04-14 12:19] t-matsuo opened #306 "centos"

[2019-04-14 12:20] #306 closed

[2019-04-14 12:21] t-matsuo commented on #306
Sorry. I opend issue mistakenly.

[2019-04-17 15:29] vyscond commented on #298
@Philippe-Collignon can post an example of your usage?

[2019-04-20 23:14] oldani commented on #298
Same issue here

[2019-04-24 11:44] twKrash commented on #136
/close

[2019-04-24 11:44] #136 closed

[2019-04-28 21:36] Morriz commented on #241
@lukaszo to close this issue: I needed to remount `mountPath: /var/lib/docker/containers` to the correct hostpath (which is `/dind/docker/containers` in case of dind, but is ususally `/var/lib/docker/containers`), so filebeat could read the logs.

I would like to ask why deviate from the default in this case?

[2019-04-28 21:36] #241 closed

[2019-04-29 07:35] TheDiveO commented on #261
can confirm with `dind-cluster-v1.13.sh reup`. Will this be fixed?

/remove-lifecycle stale

[2019-04-30 01:51] #164 closed

[2019-05-20 11:50] natiki commented on #281
@jellonek https://github.com/kubernetes-sigs/kubeadm-dind-cluster/issues/281#issuecomment-463231811

Just tried again with no firewall and 1.14:

[code]

[2019-05-20 12:21] natiki commented on #281
with firewall and 1.14 still produces heaps of errors:

[code]

So the IpTables things still appear to be broken? Following on from @redgetan suggestion https://github.com/kubernetes-sigs/kubeadm-dind-cluster/issues/281#issuecomment-473546941 I used the following to attempt to connect (note the extra `:` before `:/proxy` not in @redgetan:

[code]

So `lynx http://127.0.0.1:32769/api/v1/namespaces/

[2019-05-21 04:05] zhongjixiuxing commented on #298
@Igor-lkm try: `kubectl port-forward --address 0.0.0.0 nginx-deployment-76bf4969df-nrjwn 80:80`
and then, access localhost:80

[2019-05-27 09:15] Igor-lkm commented on #298
@zhongjixiuxing well, yep, that is working: `nginx` + `port-forward`,

my steps, more or less:

1. install [ingress-nginx](https://github.com/kubernetes/ingress-nginx)
2. Apply `config.yaml`:
[code]
(complained about port 80: `port 80 cannot be used for TCP stream services. It is reserved for the Ingress controller.`, so I set port to 81, but i thank idea is clear :)
3. `kubectl get pods --namespa

[2019-05-27 09:15] #298 closed

[2019-05-31 09:01] stsukrov commented on #97
Highly interested in the outcome.

[2019-06-05 18:34] #282 closed

[2019-06-06 17:45] #242 closed

[2019-06-11 15:59] nicks opened #309 "rbac rules not enforced"
Repro steps:
1) Run

[code]

2) Create a service account that's restricted to a specific namespace. If you need help, here's an example script:

https://github.com/windmilleng/k8s-rbac-testing

3) With the service account, run

[code]

Expected result:
Should get a permission denied error. Verified this works as expected with other clusters I tried (KIND, Minikube)

Actual result:
No permissions e

[2019-06-21 08:24] Starfight commented on #224
Environment variable NO_PROXY seems not to be propagate in docker containers, I have temporary patch it with setting `-e NO_PROXY=${DIND_NO_PROXY}` in docker run options for master and node.

[2019-06-22 20:59] #13 closed

[2019-06-22 20:59] #19 closed

[2019-06-22 20:59] #21 closed

[2019-06-22 20:59] #50 closed

[2019-06-22 20:59] #48 closed

[2019-06-22 20:59] #46 closed

[2019-06-22 20:59] #52 closed

[2019-06-22 22:00] #47 closed

[2019-06-22 22:00] #64 closed

[2019-06-22 22:00] #56 closed

[2019-06-22 22:00] #66 closed

[2019-06-22 22:00] #78 closed

[2019-06-22 22:00] #74 closed

[2019-06-22 22:00] #71 closed

[2019-06-22 22:00] #99 closed

[2019-06-22 22:00] #104 closed

[2019-06-22 23:01] #117 closed

[2019-06-23 00:02] #134 closed

[2019-06-23 01:03] #87 closed

[2019-06-23 01:03] #65 closed

[2019-06-23 02:04] #120 closed

[2019-06-23 08:10] #49 closed

[2019-06-23 11:13] #122 closed

[2019-06-23 11:13] #154 closed

[2019-06-23 18:20] #162 closed

[2019-06-23 19:21] #156 closed

[2019-06-23 19:21] #157 closed

[2019-06-23 20:22] #168 closed

[2019-06-23 20:22] #169 closed

[2019-06-23 20:22] #171 closed

[2019-06-23 21:23] #72 closed

[2019-06-23 22:24] #176 closed

[2019-06-23 22:24] #178 closed

[2019-06-23 22:24] #179 closed

[2019-06-23 22:24] #180 closed

[2019-06-23 23:25] #29 closed

[2019-06-23 23:25] #177 closed

[2019-06-24 00:26] #170 closed

[2019-06-24 01:27] #188 closed

[2019-06-24 02:28] #182 closed

[2019-06-24 02:28] #80 closed

[2019-06-24 04:30] #173 closed

[2019-06-24 05:31] #195 closed

[2019-06-24 06:32] #203 closed

[2019-06-24 06:32] #139 closed

[2019-06-24 08:34] #155 closed

[2019-06-24 10:36] #211 closed

[2019-06-24 15:41] #43 closed

[2019-06-24 17:43] #218 closed

[2019-06-24 17:43] #217 closed

[2019-06-24 19:44] #220 closed

[2019-06-25 00:49] #225 closed

[2019-06-25 02:26] morningspace commented on #302
It has been done... You should be able to download the 1.14 script from https://github.com/kubernetes-sigs/kubeadm-dind-cluster/releases/download/v0.2.0/dind-cluster-v1.14.sh.

[2019-06-25 02:27] morningspace commented on #302
/close

[2019-06-25 02:27] #302 closed

[2019-06-25 03:52] #234 closed

[2019-06-25 04:53] #208 closed

[2019-06-25 05:54] #103 closed

[2019-06-25 06:55] #7 closed

[2019-06-25 07:56] #235 closed

[2019-06-25 20:09] #160 closed

[2019-06-25 21:10] #243 closed

[2019-06-25 22:11] #153 closed

[2019-06-26 08:21] #265 closed

[2019-06-26 18:31] #272 closed

[2019-06-26 20:31] morningspace commented on #288
I think this has been fixed w/ the new released pre-configured scripts, e.g. https://github.com/kubernetes-sigs/kubeadm-dind-cluster/releases/download/v0.2.0/dind-cluster-v1.14.sh

[2019-06-26 20:31] morningspace commented on #288
/close

[2019-06-26 20:31] #288 closed

[2019-06-26 22:34] #232 closed

[2019-06-27 15:51] #267 closed

[2019-06-27 17:53] #276 closed

[2019-06-30 09:54] #97 closed

[2019-07-01 12:41] morningspace commented on #278
This can be closed since relative changes have been merged via #296. The basic idea is to grab required images at local and push to a private Docker registry, so that can make the cluster launch dramatically fast... See my post: [Launch multi-node Kubernetes cluster locally in one minute, and more…](https://morningspace.github.io/tech/k8s-run/)

[2019-07-01 12:41] morningspace commented on #278
/close

[2019-07-01 12:41] #278 closed

[2019-07-01 12:44] morningspace commented on #280
I think this has been fixed w/ the new released pre-configured scripts, e.g. https://github.com/kubernetes-sigs/kubeadm-dind-cluster/releases/download/v0.2.0/dind-cluster-v1.14.sh

[2019-07-01 12:45] morningspace commented on #280
/close

[2019-07-01 12:45] #280 closed

[2019-07-01 12:48] morningspace commented on #119
The` DIND_INSECURE_REGISTRIES` option works fine w/ latest version of the scripts that I tested,
also, `Job for docker.service canceled.` is a known issue which I believe has been fixed w/ the new released pre-configured scripts, e.g. https://github.com/kubernetes-sigs/kubeadm-dind-cluster/releases/download/v0.2.0/dind-cluster-v1.14.sh.

[2019-07-01 12:49] morningspace commented on #119
/close

[2019-07-01 12:49] #119 closed

[2019-07-01 12:53] morningspace commented on #283
The infamous "Job for docker.service canceled." issue:-) Fix should be included in the latest release [v0.2.0](https://github.com/kubernetes-sigs/kubeadm-dind-cluster/releases/tag/v0.2.0).

/close

[2019-07-01 12:53] #283 closed

[2019-07-02 15:04] timothysc opened #310 "Move DIND --> retired in favor of KIND"
@ivan4th - in sig-cluster-lifecycle we wanted to have a discussion with owners of DIND to see if can move it to retired in favor of KIND given that there is >= feature parity there.

/cc @BenTheElder
/assign @ivan4th

[2019-07-10 17:16] cewood opened #311 "Calico on 1.14 fails because kernel has loose RPF checking configured"
When using Calico on 1.14 the calico-node pods go into a crash-loop because they detect the kernel has RPF checking set to 'loose':

Looking at the Calico documentation https://docs.projectcalico.org/v3.0/reference/felix/configuration#iptables-dataplane-configuration they have a setting to ignore this situation: the `IgnoreLooseRPF` config setting, or the `FELIX_IGNORELOOSERPF` environment variabl

[2019-07-14 07:03] cscetbon commented on #261
FYI @TheDiveO, I didn't have the issue with 1.14

[2019-07-15 22:59] ivan4th commented on #310
Can we move kubeadm-dind-cluster back under github.com/Mirantis (so that there'll be redirects for it)? I'll also add a notice to README about kind being preferred

[2019-07-23 08:26] PiotrKlimisz opened #317 "dind-cluster-v1.13.sh up failed on windows 10"
Hello,
I am trying to set up multi-node k8s cluster on windows 10 but I am not able to start "dind-cluster-v1.13.sh up".

I tried multiple dind-cluster versions but every time I get:

[code]

[2019-07-24 04:13] lacek opened #318 "init fails when run in systemd"
When`dind-cluster.sh init` is run in a systemd unit, the log shows:
[code]

The 2 errors are from https://github.com/kubernetes-sigs/kubeadm-dind-cluster/blob/814d9ca036b23adce9e6c683da532e8037820119/dind-cluster.sh#L1081-L1082

The `wrapkubeadm` in fact completed without error, but tee failed and led the script to stop.
I got it work around after removing ` | tee /dev/fd/2` from the condition.

T

[2019-07-28 11:58] mrbobbytables commented on #224
Closing as this project is being deprecated and retired in favor of [KinD](https://github.com/kubernetes-sigs/kind).

Please see this issue for more details:
https://github.com/kubernetes/org/issues/1016

/close

[2019-07-28 11:58] #224 closed

[2019-07-28 12:00] mrbobbytables commented on #261
Closing as this project is being deprecated and retired in favor of [KinD](https://github.com/kubernetes-sigs/kind).

Please see this issue for more details:
https://github.com/kubernetes/org/issues/1016

/close

[2019-07-28 12:00] #261 closed

[2019-07-28 12:00] mrbobbytables commented on #281
Closing as this project is being deprecated and retired in favor of [KinD](https://github.com/kubernetes-sigs/kind).

Please see this issue for more details:
https://github.com/kubernetes/org/issues/1016

/close

[2019-07-28 12:00] #281 closed

[2019-07-28 12:00] mrbobbytables commented on #290
Closing as this project is being deprecated and retired in favor of [KinD](https://github.com/kubernetes-sigs/kind).

Please see this issue for more details:
https://github.com/kubernetes/org/issues/1016

/close

[2019-07-28 12:00] #290 closed

[2019-07-28 12:00] mrbobbytables commented on #291
Closing as this project is being deprecated and retired in favor of [KinD](https://github.com/kubernetes-sigs/kind).

Please see this issue for more details:
https://github.com/kubernetes/org/issues/1016

/close

[2019-07-28 12:00] #291 closed

[2019-07-28 12:01] mrbobbytables commented on #304
Closing as this project is being deprecated and retired in favor of [KinD](https://github.com/kubernetes-sigs/kind).

Please see this issue for more details:
https://github.com/kubernetes/org/issues/1016

/close

[2019-07-28 12:01] #304 closed

[2019-07-28 12:01] mrbobbytables commented on #305
Closing as this project is being deprecated and retired in favor of [KinD](https://github.com/kubernetes-sigs/kind).

Please see this issue for more details:
https://github.com/kubernetes/org/issues/1016

/close

[2019-07-28 12:01] #305 closed

[2019-07-28 12:01] mrbobbytables commented on #309
Closing as this project is being deprecated and retired in favor of [KinD](https://github.com/kubernetes-sigs/kind).

Please see this issue for more details:
https://github.com/kubernetes/org/issues/1016

/close

[2019-07-28 12:01] #309 closed

[2019-07-28 12:01] mrbobbytables commented on #311
Closing as this project is being deprecated and retired in favor of [KinD](https://github.com/kubernetes-sigs/kind).

Please see this issue for more details:
https://github.com/kubernetes/org/issues/1016

/close

[2019-07-28 12:01] #311 closed

[2019-07-28 12:01] mrbobbytables commented on #317
Closing as this project is being deprecated and retired in favor of [KinD](https://github.com/kubernetes-sigs/kind).

Please see this issue for more details:
https://github.com/kubernetes/org/issues/1016

/close

[2019-07-28 12:01] #317 closed

[2019-07-28 12:01] mrbobbytables commented on #318
Closing as this project is being deprecated and retired in favor of [KinD](https://github.com/kubernetes-sigs/kind).

Please see this issue for more details:
https://github.com/kubernetes/org/issues/1016

/close

[2019-07-28 12:01] #318 closed

[2019-07-28 12:03] mrbobbytables commented on #310
Little bit redundant but -
Closing as this project is being deprecated and retired in favor of [KinD](https://github.com/kubernetes-sigs/kind).

Please see this issue for more details:
https://github.com/kubernetes/org/issues/1016

/close

[2019-07-28 12:03] #310 closed